<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="about.css">
<title>IAT 339 P02 Styleguide</title>
</head>

<body>
  <div class="nav-header">
  <p class="logo">CHALEUR</p>
  <nav class="navigation">
    <p class="width-adjust-left"></p>
    <a href="#" class="nav-button">NEW</a>
    <a href="#" class="nav-button">FAVOURITES</a>
    <a href="#" class="nav-button">COLLECTIONS</a>
    <a href="#" class="nav-button">CANDLES</a>
    <a href="#" class="nav-button">DIFFUSERS</a>
    <a href="#" class="nav-button">ESSENTIAL OIL</a>

    <p class="width-adjust-right"></p>
    <img src="img/search.png" alt="search" class="nav-img">
    <img src="img/shopping_cart.png" alt="shoppingcart" class="nav-img">
  </nav>
</div>

  <div class="header">
  <p class="img-header">Image</p>
  <p class="quote">Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.</p>
  </div>
  <div class="about-section">

  <div class="text-section">

    <p class="about-title">ABOUT OUR COMPANY</p>
</div>
<div class="text-section">
    <p class="descrip"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam eget nisi placerat, sagittis sem id, tincidunt elit. Nunc vestibulum
      scelerisque hendrerit. Ut sed tortor vel elit pretium molestie ac vel nibh.
      Proin tincidunt sem nisl, convallis egestas lorem semper ac. Suspendisse sollicitudin
      maximus rutrum. Vivamus diam odio, finibus scelerisque porttitor quis, ullamcorper ac dolor.
      In pharetra nibh id diam sollicitudin pretium.</p>
    </div>
    </div>

    <div class="feature-body">
      <p class="img-placeholder">Image</p>
      <p class="img-placeholder">Image</p>
    </div>


  </div>

  <div class="feature-section">
    <p class="feature-title">FOUR MAIN FEATURES</p>
    <div class="feature-body">
    <p class="icon-holder">Icon</p>
    <p class="feature-descrip">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam eget nisi placerat, sagittis sem id, tincidunt elit. Nunc vestibulum
      scelerisque hendrerit.</p>
    <p class="icon-holder">Icon</p>
    <p class="feature-descrip">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam eget nisi placerat, sagittis sem id, tincidunt elit. Nunc vestibulum
        scelerisque hendrerit.</p>
    </div>
    <div class="feature-body">
    <p class="icon-holder">Icon</p>
    <p class="feature-descrip">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aliquam eget nisi placerat, sagittis sem id, tincidunt elit. Nunc vestibulum
          scelerisque hendrerit.</p>
    <p class="icon-holder">Icon</p>
    <p class="feature-descrip">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam eget nisi placerat, sagittis sem id, tincidunt elit. Nunc vestibulum
            scelerisque hendrerit.</p>
    </div>
  </div>

  <div id="footer">

  <ul>
    <li class="list-title">CUSTOMER SERVICE</li>
    <li class="list-item"><a href="#" class="intextlink">Contact Us</a></li>
    <li class="list-item"><a href="#" class="intextlink">Return & Refund Policy</a></li>
    <li class="list-item"><a href="#" class="intextlink">Usage Instruction</a></li>

  </ul>

  <ul>
    <li class="list-title">ABOUT US</li>
    <li class="list-item"><a href="#" class="intextlink">Our Company</a></li>
    <li class="list-item"><a href="#" class="intextlink">Store Location</a></li>

  </ul>

  <ul>
    <li class="list-title">SOCIAL MEDIA SITES</li>
    <li class="list-item"><a href="#" class="intextlink">Facebook</a></li>
    <li class="list-item"><a href="#" class="intextlink">Instagram</a></li>
    <li class="list-item"><a href="#" class="intextlink">Pinterest</a></li>
    <li class="list-item"><a href="#" class="intextlink">Twitter</a></li>

  </ul>

  <div class="email">
  <p class="list-title">SIGN UP FOR MORE UPDATES</p>
  <form> <input type="text" name="Text Input Field" value="Email Address"> </form>
  <a href="#"  class="sub-button">SUBMIT</a>
  </div>

  </div>





</body>

</html>
