*{
  font-family:'Times', 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}




.banner-img img{

width: 100%;

}

.feature-body{

  display: flex;
  flex-wrap: wrap;


}

.feature-body img{

  margin-top: 2em;
  padding: .5em;

}



.text-section{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;





}

.about-section{

    margin: 3em 0em;
}

.about-title{

  letter-spacing: 0.15em;
  font-size: 1.2em;
}

.descrip{
  padding-top: 2em;
  padding-bottom: 2em;
  width: 40em;
  letter-spacing: 0.1em;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.6em;
  text-align: center;
}



.feature-title{
  margin-top:2em;
  letter-spacing: 0.15em;
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.feature-body{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.feature-descrip{
  padding: 2em;
  width: 30em;
  letter-spacing: 0.1em;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.6em;
}

@media (max-width:33em){

  .feature-body img{

    width:100%;
    margin-top: .5em;
  }
}

@media (max-width: 29.3em){

  .text-section{
    margin:0em 1em;

  }
}
