body{

  font-family: 'Lato', sans-serif;
}

.img-header{

  background-color: #CCC;
  height: 25em;
  padding: 1em;
  margin-bottom: 1.5em;
  letter-spacing: 0.12em;
  font-size: 0.8em;
  font-weight: 300;
  position: relative;
}

.quote{

  position: absolute;
  top:280px;
  left:350px;

  letter-spacing: 0.12em;
  font-size: 1.2em;
}

.img-placeholder{

  background-color: #CCC;
  height: 20em;
  padding: 1em;
  margin: 1.5em 0.5em;
  letter-spacing: 0.12em;
  font-size: 0.8em;
  font-weight: 300;

  flex-grow: 1;
}


.text-section{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;





}

.about-section{

    margin: 3em 0em;
}

.about-title{

  letter-spacing: 0.15em;
  font-size: 1.2em;
}

.descrip{
  padding-top: 2em;
  padding-bottom: 2em;
  width: 40em;
  letter-spacing: 0.1em;
  font-size: 0.7em;
  font-weight: 300;
  line-height: 1.6em;
  text-align: center;
}



.feature-title{
  margin-top:2em;
  letter-spacing: 0.15em;
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.feature-body{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.feature-descrip{
  padding: 2em;
  width: 30em;
  letter-spacing: 0.1em;
  font-size: 0.7em;
  font-weight: 300;
  line-height: 1.6em;
}

.icon-holder{

  background-color: #CCC;
  width: 3em;
  height: 3em;
  padding: 1em;
  margin: 1.5em;
  letter-spacing: 0.12em;
  font-size: 0.8em;
  font-weight: 300;


}
