<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="contact.css">
<title>IAT 339 P02 Styleguide</title>
</head>

<body>
  <div class="nav-header">
  <p class="logo">CHALEUR</p>
  <nav class="navigation">
    <p class="width-adjust-left"></p>
    <a href="#" class="nav-button">NEW</a>
    <a href="#" class="nav-button">FAVOURITES</a>
    <a href="#" class="nav-button">COLLECTIONS</a>
    <a href="#" class="nav-button">CANDLES</a>
    <a href="#" class="nav-button">DIFFUSERS</a>
    <a href="#" class="nav-button">ESSENTIAL OIL</a>

    <p class="width-adjust-right"></p>
    <img src="img/search.png" alt="search" class="nav-img">
    <img src="img/shopping_cart.png" alt="shoppingcart" class="nav-img">
  </nav>
</div>

<div class="map">
  <p class="map-holder"> Map </p>
</div>
  <div class="body-section">
  <div class="loca-section">
    <p class="loca-title">STORE LOCATION </p>
    <div class="loca-row">
    <p class="loca-icon">Icon</p>
    <p class="loca-text">Lorem ipsum dolor sit ame consectetur adipiscing eli</p>
  </div>
  <div class="loca-row">
    <p class="loca-icon">Icon</p>
    <p class="loca-text">604-000-0000</p>
  </div>
  <div class="loca-row">
    <p class="loca-icon">Icon</p>
    <p class="loca-text">candleco@email.com</p>
  </div>
</div>

<div class="soci-section">
  <p class="soci-title">SOCIAL MEDIA SITES</p>
  <div class="soci-row">
  <p class="soci-icon">Icon</p>
  <a href="#" class="soci-text">Facebook</a>
</div>
<div class="soci-row">
<p class="soci-icon">Icon</p>
<a href="#" class="soci-text">Instagram</a>
</div>
<div class="soci-row">
<p class="soci-icon">Icon</p>
<a href="#" class="soci-text">Twitter</a>
</div>
<div class="soci-row">
<p class="soci-icon">Icon</p>
<a href="#" class="soci-text">Pinterest</a>
</div>
</div>
</div>

<div id="footer">

<ul>
  <li class="list-title">CUSTOMER SERVICE</li>
  <li class="list-item"><a href="#" class="intextlink">Contact Us</a></li>
  <li class="list-item"><a href="#" class="intextlink">Return & Refund Policy</a></li>
  <li class="list-item"><a href="#" class="intextlink">Usage Instruction</a></li>

</ul>

<ul>
  <li class="list-title">ABOUT US</li>
  <li class="list-item"><a href="#" class="intextlink">Our Company</a></li>
  <li class="list-item"><a href="#" class="intextlink">Store Location</a></li>

</ul>

<ul>
  <li class="list-title">SOCIAL MEDIA SITES</li>
  <li class="list-item"><a href="#" class="intextlink">Facebook</a></li>
  <li class="list-item"><a href="#" class="intextlink">Instagram</a></li>
  <li class="list-item"><a href="#" class="intextlink">Pinterest</a></li>
  <li class="list-item"><a href="#" class="intextlink">Twitter</a></li>

</ul>

<div class="email">
<p class="list-title">SIGN UP FOR MORE UPDATES</p>
<form> <input type="text" name="Text Input Field" value="Email Address"> </form>
<a href="#"  class="sub-button">SUBMIT</a>
</div>

</div>





</body>

</html>
