<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="navfootersearch.css">
<link rel="stylesheet" href="contact.css">
<title>IAT 339 P02 Styleguide</title>
</head>

<body>
  <div class="nav-header">
  <a href="home.html" class="logo">CHALEUR</a>
  <nav class="navigation">

<div class="topmenu">



    <a href="#" class="menu-link" onclick="openNav()"><img src="img/menu.png" alt="menu button" class="menu"></a>

    </div>

    <p class="width-adjust-left"></p>
    <a href="diffuser.html" class="nav-button">NEW</a>
    <a href="products.html" class="nav-button">FAVOURITES</a>
    <a href="diffuser.html" class="nav-button">COLLECTIONS</a>
    <a href="products.html" class="nav-button">CANDLES</a>
    <a href="diffuser.html" class="nav-button">DIFFUSERS</a>
    <a href="products.html" class="nav-button">ESSENTIAL OIL</a>

    <p class="width-adjust-right"></p>
    <img src="img/search.png" alt="search" class="nav-img" onclick="openSearch()">
    <a href="shoppingcart.html"><img src="img/shopping_cart.png" alt="shoppingcart" class="nav-img"></a>

  </nav>
  </div>

<div class="map">
  <img src="img/map.png" alt="vancouver map" class="map-img">

</div>
  <div class="body-section">
  <div class="loca-section">
    <p class="loca-title">STORE LOCATION </p>
    <div class="loca-row">
    <img src="img/address-icon.png" class="icon-class"alt="">
    <p class="loca-text">10210 Kingsway, Burnaby</p>
  </div>
  <div class="loca-row">
    <img src="img/phone-icon.png" class="icon-class" alt="hand phone graphic">
    <p class="loca-text">604-989-1230</p>
  </div>
  <div class="loca-row">
    <img src="img/email-icon.png" class="icon-class" alt="open letter">
    <p class="loca-text">inquiry@chaleur.com</p>
  </div>
</div>

<div class="soci-section">
  <p class="soci-title">SOCIAL MEDIA SITES</p>
  <div class="soci-row">
    <img src="img/facebook-icon.png" class="icon-class" alt="the word 'f' with in a box">
  <a href="#" class="soci-text">Facebook</a>
</div>
<div class="soci-row">
  <img src="img/instagram-icon.png" class="icon-class" alt="camera">
<a href="#" class="soci-text">Instagram</a>
</div>
<div class="soci-row">
  <img src="img/twitter-icon.png" class="icon-class" alt="a flying bird">
<a href="#" class="soci-text">Twitter</a>
</div>
<div class="soci-row">
  <img src="img/pinterest-icon.png" class="icon-class" alt="empty 'p'">
<a href="#" class="soci-text">Pinterest</a>
</div>
</div>
</div>

<div id="footer">

<ul class="cust-serv">
  <li class="list-title">CUSTOMER SERVICE</li>
  <li class="list-item"><a href="contact.html" class="intextlink">Contact Us</a></li>
  <li class="list-item"><a href="return_policy.html" class="intextlink">Return & Refund Policy</a></li>
  <li class="list-item"><a href="return_policy.html" class="intextlink">Usage Instruction</a></li>

</ul>

<ul class="about-us">
  <li class="list-title">ABOUT US</li>
  <li class="list-item"><a href="about.html" class="intextlink">Our Company</a></li>
  <li class="list-item"><a href="about.html" class="intextlink">Store Location</a></li>

</ul>

<ul class="social-media">
  <li class="list-title">SOCIAL MEDIA SITES</li>
  <li class="list-item"><a href="#" class="intextlink">Facebook</a></li>
  <li class="list-item"><a href="#" class="intextlink">Instagram</a></li>
  <li class="list-item"><a href="#" class="intextlink">Pinterest</a></li>
  <li class="list-item"><a href="#" class="intextlink">Twitter</a></li>

</ul>

<div class="email">
<p class="list-title">SIGN UP FOR MORE UPDATES</p>
<form> <input type="text" name="Text Input Field" value="Email Address"> </form>
<a href="#"  class="sub-button">SUBMIT</a>
</div>

</div>



<div id="mobile-nav" class="mobile-drop-down-menu">
  <a href="#" class="closeBn" onclick="closeNav()">&times;</a>
  <div class="drop-down-menu-category">
    <a href="diffuser.html">NEW</a>
    <a href="products.html">FAVOURITES</a>
    <a href="diffuser.html">COLLECTIONS</a>
    <a href="products.html">CANDLES</a>
    <a href="diffuser.html">DIFFUSERS</a>
    <a href="products.html">ESSENTIAL OIL</a>
  </div>

  <div class="drop-down-menu-footer">
    <a href="contact.html">CONTACT</a>
    <a href="return_policy.html">RETURN SERVICES</a>
    <a href="about.html">ABOUT US</a>
  </div>

</div>

<div id="searchpage" class="search">
  <a href="#" class="closesch" onclick="closeSearch()">&times;</a>
  <div class="searchcontent">
  <div class="searchtitle">
    <h3>SEARCH</h3>
 </div>
  <div class="drop-search">
    <input class="searchbar"type="text" name="searchbarline" placeholder="Search">
    <img src="img/searchbig.png" alt="search" class="search-img">
  </div>

  <div class="hotsearch">
    <span onclick="gotocandle()">candles</span>
    <span onclick="gotocontact()">contact</span>
    <span onclick="gotoreturn()">return</span>
  </div>
  </div>
</div>

<script src="navigation.js"></script>

</body>

</html>
