<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="navfootersearch.css">
<link rel="stylesheet" href="description.css">
<title>IAT 339 P02 Styleguide</title>
</head>

<body>
  <div class="nav-header">
  <a href="home.html" class="logo">CHALEUR</a>
  <nav class="navigation">

<div class="topmenu">



    <a href="#" class="menu-link" onclick="openNav()"><img src="img/menu.png" alt="menu button" class="menu"></a>

    </div>

    <p class="width-adjust-left"></p>
    <a href="diffuser.html" class="nav-button">NEW</a>
    <a href="products.html" class="nav-button">FAVOURITES</a>
    <a href="diffuser.html" class="nav-button">COLLECTIONS</a>
    <a href="products.html" class="nav-button">CANDLES</a>
    <a href="diffuser.html" class="nav-button">DIFFUSERS</a>
    <a href="products.html" class="nav-button">ESSENTIAL OIL</a>

    <p class="width-adjust-right"></p>
    <img src="img/search.png" alt="search" class="nav-img" onclick="openSearch()">
    <a href="shoppingcart.html"><img src="img/shopping_cart.png" alt="shoppingcart" class="nav-img"></a>

  </nav>
  </div>

  <div class="info-section">
  <p class="width-adjust-image"></p>

  <img src="img/biblio_candle.png" alt="Bibliotheque Candle" class="img-placeholder">

  <div class="text-section">
  <p class="collection-title">ORIGINAL COLLECTIONS</p>
  <p class="product-title">Bibliotheque Candle</p>
  <p class="price"> $39.99</p>
  <div class="quantity">
  <p class="product-text">QUANTITY:</p>
  <select class="drop-list">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  </div>
    <a href="shoppingcart.html" class="cart-button"> ADD TO BAG</a>



  </div>


  </div>

<div class="product-description">
  <img src="img/biblio_descrip_img.png"
  class="deatil-image" alt="burning candle with glasses and opened magazine"
  >
  <div class="text-descrip-section">
  <p class="section-title">Details</p>
  <p class="product-descrip">Byredo's Bibliothèque candle is a rich, warm fragrance set in a mouth-blown glass vessel.</p>
  <div id="descrip-list">
  <ul>
    <li>Handmade</li>
    <li>Top notes: peach, plum</li>
    <li>Middle notes: violet, peony</li>
    <li>Base notes: patchouli, leather, vanilla</li>
    <li>Burn time: 60 hours (approximately)</li>
    <li>8.4 oz/240g single-wick candle</li>
    <li>4.25"/11cm height, 3.75"/10cm diameter (approximately)</li>
    <li>Available in Black</li>
    <li>Wax. Vessel: glass</li>
    <li>Made in France</li>
  </ul>
</div>
</div>
</div>

<div class="review-section">
  <div class="review-title">
  <p class="width-adjust-left"></p>
  <h2>REVIEWS</h2>
  <p class="width-adjust-right"></p>
  <a href="#" class="viewmorelink">view more </a>
</div>
  <div class="review-row">
  <div class="user-comment">
  <div class="profile-row">
  <img src="img/profile_img.png" alt="a girl turning her head toward to camera on a subway platform">
  <div class="user-info">
    <p class="user-name">jessica.cooper</p>
    <p class="post-hour">POSTED 3 HOURS AGO</p>
    <p class="review-rate">★★★★☆</p>
  </div>
</div>
    <p class="descrip">Bibliotheque candle has a fruit combination of peach and plum.
      They are so ready to burst they throw off gentle aldehydes around their inherent
      deep fruity nature. I am not usually a fan of these kind of fruit accords but this
       time it worked for me.</p>
  </div>
  <div class="user-comment">
  <div class="profile-row">
  <img src="img/profile_robin.png" alt="a girl lower her head, showing her side face with plane background">
  <div class="user-info">
    <p class="user-name">robin2080</p>
    <p class="post-hour">POSTED 2 DAYS AGO</p>
    <p class="review-rate">★★★★☆</p>
  </div>
</div>
    <p class="descrip">Bibliotheque candle has a fruit combination of peach and plum.
      They are so ready to burst they throw off gentle aldehydes around their inherent
      deep fruity nature. I am not usually a fan of these kind of fruit accords but this
       time it worked for me.</p>
  </div>
</div>
</div>







<div class="recommendation">
  <h2>Recommend</h2>



</div>
<section class="product">

<div class="productcontainer">
  <div class="item">
      <img src="img/product04.jpg" alt="COTTOM POPLIN" >
  </div>
  <div class="words">
      <h6>COTTOM POPLIN
      </h6>
      <p class="recommend-price">$34.99
      </p>

    </div>
    <div class="addtocart-products">
      <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

    </div>
</div>

<div class="productcontainer">
  <div class="item">
      <img src="img/product05.jpg" alt="FLEUR FANTOME" >
  </div>
  <div class="words">
      <h6>FLEUR FANTOME
      </h6>
      <p class="recommend-price">$34.99
      </p>

    </div>

    <div class="addtocart-products">
      <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

    </div>
</div>

<div class="productcontainer">
  <div class="item">
      <img src="img/product06.jpg" alt="BIBLIOTHEQUE" >
  </div>
  <div class="words">
      <h6>BIBLIOTHEQUE
      </h6>
      <p class="recommend-price">$34.99
      </p>

    </div>
    <div class="addtocart-products">
      <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

    </div>

</div>

</section>



</div>

<div id="footer">

<ul class="cust-serv">
  <li class="list-title">CUSTOMER SERVICE</li>
  <li class="list-item"><a href="contact.html" class="intextlink">Contact Us</a></li>
  <li class="list-item"><a href="return_policy.html" class="intextlink">Return & Refund Policy</a></li>
  <li class="list-item"><a href="return_policy.html" class="intextlink">Usage Instruction</a></li>

</ul>

<ul class="about-us">
  <li class="list-title">ABOUT US</li>
  <li class="list-item"><a href="about.html" class="intextlink">Our Company</a></li>
  <li class="list-item"><a href="about.html" class="intextlink">Store Location</a></li>

</ul>

<ul class="social-media">
  <li class="list-title">SOCIAL MEDIA SITES</li>
  <li class="list-item"><a href="#" class="intextlink">Facebook</a></li>
  <li class="list-item"><a href="#" class="intextlink">Instagram</a></li>
  <li class="list-item"><a href="#" class="intextlink">Pinterest</a></li>
  <li class="list-item"><a href="#" class="intextlink">Twitter</a></li>

</ul>

<div class="email">
<p class="list-title">SIGN UP FOR MORE UPDATES</p>
<form> <input type="text" name="Text Input Field" value="Email Address"> </form>
<a href="#"  class="sub-button">SUBMIT</a>
</div>

</div>



    <div id="mobile-nav" class="mobile-drop-down-menu">
      <a href="#" class="closeBn" onclick="closeNav()">&times;</a>
      <div class="drop-down-menu-category">
        <a href="diffuser.html">NEW</a>
        <a href="products.html">FAVOURITES</a>
        <a href="diffuser.html">COLLECTIONS</a>
        <a href="products.html">CANDLES</a>
        <a href="diffuser.html">DIFFUSERS</a>
        <a href="products.html">ESSENTIAL OIL</a>
      </div>

      <div class="drop-down-menu-footer">
        <a href="contact.html">CONTACT</a>
        <a href="return_policy.html">RETURN SERVICES</a>
        <a href="about.html">ABOUT US</a>
      </div>

    </div>

    <div id="searchpage" class="search">
      <a href="#" class="closesch" onclick="closeSearch()">&times;</a>
      <div class="searchcontent">
      <div class="searchtitle">
        <h3>SEARCH</h3>
     </div>
      <div class="drop-search">
        <input class="searchbar"type="text" name="searchbarline" placeholder="Search">
        <img src="img/searchbig.png" alt="search" class="search-img">
      </div>

      <div class="hotsearch">
        <span onclick="gotocandle()">candles</span>
        <span onclick="gotocontact()">contact</span>
        <span onclick="gotoreturn()">return</span>
      </div>
      </div>
    </div>



<script src="navigation.js"></script>


</body>

</html>
