<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="description.css">
<title>IAT 339 P02 Styleguide</title>
</head>

<body>
  <div class="nav-header">
  <p class="logo">CHALEUR</p>
  <nav class="navigation">
    <p class="width-adjust-left"></p>
    <a href="#" class="nav-button">NEW</a>
    <a href="#" class="nav-button">FAVOURITES</a>
    <a href="#" class="nav-button">COLLECTIONS</a>
    <a href="#" class="nav-button">CANDLES</a>
    <a href="#" class="nav-button">DIFFUSERS</a>
    <a href="#" class="nav-button">ESSENTIAL OIL</a>

    <p class="width-adjust-right"></p>
    <img src="img/search.png" alt="search" class="nav-img">
    <img src="img/shopping_cart.png" alt="shoppingcart" class="nav-img">
  </nav>
</div>

  <div class="info-section">
  <p class="img-placeholder">Image</p>
  <div class="text-section">
  <p class="product-title">LAVENDER CANDLE</p>
  <p class="price"> $35</p>
  <div class="quantity">
  <p class="product-text">Quantity:</p>
  <select class="drop-list">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  </div>
    <a href="#" class="cart-button"> ADD TO CART</a>
  <p class="descrip">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aliquam eget nisi placerat, sagittis sem id, tincidunt elit. Nunc vestibulum
    scelerisque hendrerit. Ut sed tortor vel elit pretium molestie ac vel nibh.
    Proin tincidunt sem nisl, convallis egestas lorem semper ac. Suspendisse sollicitudin
    maximus rutrum. Vivamus diam odio, finibus scelerisque porttitor quis, ullamcorper ac dolor.
    In pharetra nibh id diam sollicitudin pretium. </p>


  </div>
  </div>

  <div class="review-section">
  <p class="img-placeholder">Image</p>
  <div class="text-section">
  <p class="product-title">REVIEWS</p>
  <p class="user-title">User name #1</p>
  <p class="descrip">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aliquam eget nisi placerat, sagittis sem id, tincidunt elit. Nunc vestibulum
    scelerisque hendrerit. Ut sed tortor vel elit pretium molestie ac vel nibh.</p>
    <p class="user-title">User name #2</p>
    <p class="descrip">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam eget nisi placerat, sagittis sem id, tincidunt elit. Nunc vestibulum
      scelerisque hendrerit. Ut sed tortor vel elit pretium molestie ac vel nibh.</p>
      <a href="#" class="cart-button"> WRITE A REVIEW</a>


</div>
</div>

<div class="recommendation">
  <h2>RECOMMEND</h2>



</div>
<section class="product">

<div class="productcontainer">
  <div class="item">
      <img src="img/product01.png" alt="" >
  </div>
  <div class="words">
      <h6>BIBLIOTHEQUE CANDLE
      </h6>
      <p class="price-recommand">$34.99
      </p>
      <p class="descrip-recommand">Specific scented candle made for home
      </p>
    </div>
</div>

<div class="productcontainer">
  <div class="item">
      <img src="img/product01.png" alt="" >
  </div>
  <div class="words">
      <h6>BIBLIOTHEQUE CANDLE
      </h6>
      <p class="price-recommand">$34.99
      </p>
      <p class="descrip-recommand">Specific scented candle made for home
      </p>
    </div>
</div>

<div class="productcontainer">
  <div class="item">
      <img src="img/product01.png" alt="" >
  </div>
  <div class="words">
      <h6>BIBLIOTHEQUE CANDLE
      </h6>
      <p class="price-recommand">$34.99
      </p>
      <p class="descrip-recommand">Specific scented candle made for home
      </p>
    </div>
</div>

</section>

<div id="footer">

<ul>
  <li class="list-title">CUSTOMER SERVICE</li>
  <li class="list-item"><a href="#" class="intextlink">Contact Us</a></li>
  <li class="list-item"><a href="#" class="intextlink">Return & Refund Policy</a></li>
  <li class="list-item"><a href="#" class="intextlink">Usage Instruction</a></li>

</ul>

<ul>
  <li class="list-title">ABOUT US</li>
  <li class="list-item"><a href="#" class="intextlink">Our Company</a></li>
  <li class="list-item"><a href="#" class="intextlink">Store Location</a></li>

</ul>

<ul>
  <li class="list-title">SOCIAL MEDIA SITES</li>
  <li class="list-item"><a href="#" class="intextlink">Facebook</a></li>
  <li class="list-item"><a href="#" class="intextlink">Instagram</a></li>
  <li class="list-item"><a href="#" class="intextlink">Pinterest</a></li>
  <li class="list-item"><a href="#" class="intextlink">Twitter</a></li>

</ul>

<div class="email">
<p class="list-title">SIGN UP FOR MORE UPDATES</p>
<form> <input type="text" name="Text Input Field" value="Email Address"> </form>
<a href="#"  class="sub-button">SUBMIT</a>
</div>

</div>





</body>

</html>
