<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="finishpay_main.css">
<title>IAT 339 P02 template</title>
</head>

<body>
  <div class="nav-header">
<a href="home.html" class="logo">CHALEUR</a>
<nav class="navigation">
  <a href="#" class="menu-link"><img src="img/menu.png" alt="menu button" class="menu"></a>
  <p class="width-adjust-left"></p>
  <a href="products.html" class="nav-button">NEW</a>
  <a href="products.html" class="nav-button">FAVOURITES</a>
  <a href="products.html" class="nav-button">COLLECTIONS</a>
  <a href="products.html" class="nav-button">CANDLES</a>
  <a href="products.html" class="nav-button">DIFFUSERS</a>
  <a href="products.html" class="nav-button">ESSENTIAL OIL</a>

  <p class="width-adjust-right"></p>
  <img src="img/search.png" alt="search" class="nav-img">
  <img src="img/shopping_cart.png" alt="shoppingcart" class="nav-img">
</nav>
</div>

<div class="successful">


<h2>PAYMENT SUCCESSFUL</h2>
<p>Your items will be shipped in 2 business days</p>

<div class="backtohome">
  <a href="home.html"  class="backtohome-button">BACK TO HOME</a>

</div>
</div>

<div class="recommendation">
  <h2>Recommend</h2>



</div>
<section class="product">

<div class="productcontainer">
  <div class="item">
      <img src="img/product04.jpg" alt="COTTOM POPLIN" >
  </div>
  <div class="words">
      <h5>COTTOM POPLIN
      </h5>
      <h6 class="price">$ 59.00
      </h6>

    </div>
    <div class="addtocart-products">
      <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

    </div>
</div>

<div class="productcontainer">
  <div class="item">
      <img src="img/product05.jpg" alt="FLEUR FANTOME" >
  </div>
  <div class="words">
      <h5>FLEUR FANTOME
      </h5>
      <h6 class="price">$ 37.90
      </h6>

    </div>

    <div class="addtocart-products">
      <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

    </div>
</div>

<div class="productcontainer">
  <div class="item">
      <img src="img/product06.jpg" alt="BIBLIOTHEQUE" >
  </div>
  <div class="words">
      <h5>BIBLIOTHEQUE
      </h5>
      <h6 class="price">$ 45.70
      </h6>

    </div>
    <div class="addtocart-products">
      <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

    </div>

</div>

</section>



</div>

<div id="footer">

<ul class="cust-serv">
  <li class="list-title">CUSTOMER SERVICE</li>
  <li class="list-item"><a href="contact.html" class="intextlink">Contact Us</a></li>
  <li class="list-item"><a href="return_policy.html" class="intextlink">Return & Refund Policy</a></li>
  <li class="list-item"><a href="return_policy.html" class="intextlink">Usage Instruction</a></li>

</ul>

<ul class="about-us">
  <li class="list-title">ABOUT US</li>
  <li class="list-item"><a href="about.html" class="intextlink">Our Company</a></li>
  <li class="list-item"><a href="about.html" class="intextlink">Store Location</a></li>

</ul>

<ul class="social-media">
  <li class="list-title">SOCIAL MEDIA SITES</li>
  <li class="list-item"><a href="#" class="intextlink">Facebook</a></li>
  <li class="list-item"><a href="#" class="intextlink">Instagram</a></li>
  <li class="list-item"><a href="#" class="intextlink">Pinterest</a></li>
  <li class="list-item"><a href="#" class="intextlink">Twitter</a></li>

</ul>

<div class="email">
<p class="list-title">SIGN UP FOR MORE UPDATES</p>
<form> <input type="text" name="Text Input Field" value="Email Address"> </form>
<a href="#"  class="sub-button">SUBMIT</a>
</div>

</div>

</body>
</html>
