<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="home_main.css">
<title>IAT 339 P02 template</title>
</head>

<body>
  <div class="banner">

    <div class="bannerimg">
      <img src="img/0.png" alt="">
    </div>

      <div class="bannerdes">
        <h3>PRODUCT A</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In purus est, ultrices nec porttitor et, consequat in nisi.
          Vivamus malesuada rutrum sollicitudin. Suspendisse leo nulla,
          imperdiet in mattis in, ultrices eget sapien. </p>
          <div class="viewmore">
            <a href="products.html"  class="viewmore-button">VIEW MORE</a>

          </div>
      </div>


  </div>

  <div class="promotion">
    <div class="promotion-line1">
    <div class="promotion1">

    </div>
    <div class="promotion2">
    </div>
    </div>

    <div class="promotion-line2">
      <div class="promotion3">
      </div>
      <div class="promotion4">
      </div>

    </div>

  </div>

<div class="product-container">
  <h3>Candles</h3>

  <section class="product">

  <div class="productcontainer">
    <div class="item">
        <a href="description.html"><img src="img/product01.png" alt="" ></a>
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  <div class="productcontainer">
    <div class="item">
        <a href="description.html"><img src="img/product01.png" alt="" ></a>
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  <div class="productcontainer">
    <div class="item">
        <a href="description.html"><img src="img/product01.png" alt="" ></a>
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  </section>

  <h3>Diffusers</h3>

  <section class="product">

  <div class="productcontainer">
    <div class="item">
        <img src="img/product01.png" alt="" >
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  <div class="productcontainer">
    <div class="item">
        <img src="img/product01.png" alt="" >
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  <div class="productcontainer">
    <div class="item">
        <img src="img/product01.png" alt="" >
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  </section>

</div>


</body>


</html>
