<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="home_main.css">
<title>IAT 339 P02 template</title>
</head>

<body>
  <div class="nav-header">
<a href="home.html" class="logo">CHALEUR</a>
  <nav class="navigation">
    <p class="width-adjust-left"></p>
    <a href="products.html" class="nav-button">NEW</a>
    <a href="products.html" class="nav-button">FAVOURITES</a>
    <a href="products.html" class="nav-button">COLLECTIONS</a>
    <a href="products.html" class="nav-button">CANDLES</a>
    <a href="products.html" class="nav-button">DIFFUSERS</a>
    <a href="products.html" class="nav-button">ESSENTIAL OIL</a>

    <p class="width-adjust-right"></p>
    <img src="img/search.png" alt="search" class="nav-img">
    <img src="img/shopping_cart.png" alt="shoppingcart" class="nav-img">
  </nav>
  </div>

  <div class="banner">

    <div class="bannerimg">
      <img src="img/banner.png" alt="gardenia series banner">
    </div>

      <div class="bannerdes">
        <h3>Gardenia Series</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
et tellus a ex pharetra dapibus. Integer et mauris eu justo
tempor elementum. Cras at justo ac velit varius aliquet. Sed
preJum porta arcu ut vesJbulum. EJam ullamcorper, sapien
quis elementum consectetur, enim purus maximus erat. </p>
          <div class="viewmore">
            <a href="products.html"  class="viewmore-button">VIEW MORE</a>

          </div>
      </div>


  </div>

  <div class="promotion">
    <div class="promotion-line1">
    <div class="promotionimg image1">
      <a href="description.html"><img src="img/productA.jpg" alt="gypsywater"></a>
    </div>
    <div class="promotiondes des1">
      <a href="description.html"><h3>Gyspsy Water</h3></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Morbi et tellus a ex pharetra.</p>
        <div class="priceandbutton">


        <h4>$ 69.99</h4>
        <div class="addtocart">
          <a href="shoppingcart.html"  class="add-button">ADD TO BAG</a>

        </div>
          </div>
    </div>
    </div>


    <div class="promotion-line2">
      <div class="promotionimg image2front">
        <a href="description.html"><img src="img/productB.jpg" alt="gypsywater"></a>
      </div>

      <div class="promotiondes des2">
        <a href="description.html"><h3>Casablanca Lily</h3></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Morbi et tellus a ex pharetra.</p>
          <div class="priceandbutton">


          <h4>$ 69.99</h4>
          <div class="addtocart">
            <a href="shoppingcart.html"  class="add-button">ADD TO BAG</a>

          </div>
            </div>
      </div>

      <div class="promotionimg image2">
        <a href="description.html"><img src="img/productB.jpg" alt="gypsywater"></a>
      </div>

  </div>
</div>

<div class="middlebanner candle">

  <div class="middlebanner-img">
     <a href="products.html"><img src="img/middlebanner2.jpg" alt="candleseries"></a>
  </div>

  <div class="middlebanner-des">
    <span class="handmade">HAND MADE</span>
    <h3>Gardenia Series</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       Morbi et tellus a ex pharetra dapibus. Integer et
       mauris eu justo tempor elementum. Cras at justo ac
       velit varius aliquet. </p>

     <div class="viewmore">
       <a href="products.html"  class="viewmore-button">VIEW MORE</a>

     </div>
  </div>

</div>

<div class="product-container">
  <div class="product-title">


  <h3>CANDLES</h3>
  </div>

  <section class="product">

  <div class="productcontainer candle">
    <div class="item">
        <a href="description.html"><img src="img/product01.jpg" alt="TREE HOUSE" ></a>
    </div>
    <div class="words">
        <a href="description.html"><h5>TREE HOUSE
        </h5></a>
        <h6 class="price">$34.99
        </6>

      </div>

      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>


  </div>

  <div class="productcontainer candle">
    <div class="item">
        <a href="description.html"><img src="img/product02.jpg" alt="BIBLIOTHEQUE CANDLE" ></a>
    </div>
    <div class="words">
        <a href="description.html"><h5>BIBLIOTHEQUE CANDLE
        </h5></a>
        <h6 class="price">$34.99
        </h6>

      </div>
      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>

  <div class="productcontainer candle">
    <div class="item">
        <a href="description.html"><img src="img/product03.jpg" alt="PEYOTE POEM" ></a>
    </div>
    <div class="words">
        <a href="description.html"><h5>PEYOTE POEM
        </h5></a>
        <h6 class="price">$34.99
        </h6>

      </div>
      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>


  <div class="productcontainer candle">
    <div class="item">
        <a href="products.html"><img src="img/product04.jpg" alt="COTTOM POPLIN" ></a>
    </div>
    <div class="words">
        <a href="description.html"><h5>COTTOM POPLIN
        </h5></a>
        <h6 class="price">$59.00
        </6>

      </div>
      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>

  <div class="productcontainer candle">
    <div class="item">
        <a href="description.html"><img src="img/product05.jpg" alt="FLEUR FANTOME" ></a>
    </div>
    <div class="words">
      <a href="description.html">  <h5>FLEUR FANTOME
      </h5></a>
        <h6 class="price">$37.90
        </h6>

      </div>

      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>

  <div class="productcontainer candle">
    <div class="item">
        <a href="description.html"><img src="img/product06.jpg" alt="BIBLIOTHEQUE" ></a>
    </div>
    <div class="words">
        <a href="description.html"><h5>BIBLIOTHEQUE
        </h5></a>
        <h6 class="price">$45.80
        </h6>

      </div>

      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>

  </section>

</div>

<div class="middlebanner diffuser">

  <div class="middlebanner-img">
     <a href="products.html"><img src="img/middlebanner3.jpg" alt="diffuserseries"></a>
  </div>

  <div class="middlebanner-des">
    <span class="handmade">HAND MADE</span>
    <h3>Gardenia Series</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       Morbi et tellus a ex pharetra dapibus. Integer et
       mauris eu justo tempor elementum. Cras at justo ac
       velit varius aliquet. </p>

     <div class="viewmore">
       <a href="products.html"  class="viewmore-button">VIEW MORE</a>

     </div>
  </div>

</div>

<div class="product-container">
  <div class="product-title">


  <h3>DIFFUSERS</h3>
  </div>

  <section class="product">

  <div class="productcontainer diffuser">
    <div class="diffuseritem">
        <a href="description.html"><img src="img/product07.jpg" alt="NEST Camille" ></a>
    </div>
    <div class="words">
        <a href="description.html"><h5>NEST Camille
        </h5></a>
        <h6 class="price">$39.99
        </6>

      </div>
  </div>

  <div class="productcontainer diffuser">
    <div class="diffuseritem">
        <a href="description.html"><img src="img/product08.jpg" alt="NEST Rose" ></a>
    </div>
    <div class="words">
        <a href="description.html"><h5>NEST Rose
        </h5></a>
        <h6 class="price">$39.99
        </h6>

      </div>
  </div>

  <div class="productcontainer diffuser">
    <div class="diffuseritem">
        <a href="description.html"><img src="img/product09.jpg" alt="NEST Wood" ></a>
    </div>
    <div class="words">
      <a href="description.html">  <h5>NEST Wood
      </h5></a>
        <h6 class="price">$42.99
        </h6>

      </div>
  </div>


  <div class="productcontainer diffuser">
    <div class="diffuseritem">
        <a href="description.html"><img src="img/product10.jpg" alt="TEAME Leaves" ></a>
    </div>
    <div class="words">
        <a href="description.html"><h5>TEAME Leaves
        </h5></a>
        <h6 class="price">$59.00
        </6>

      </div>
  </div>

  <div class="productcontainer diffuser">
    <div class="diffuseritem">
        <a href="description.html"><img src="img/product11.jpg" alt="NOIR Avoires" ></a>
    </div>
    <div class="words">
        <a href="description.html"><h5>NOIR Avoires
        </h5></a>
        <h6 class="price">$37.90
        </h6>

      </div>
  </div>

  <div class="productcontainer diffuser">
    <div class="diffuseritem">
        <a href="description.html"><img src="img/product12.jpg" alt="VAGE Diffuser" ></a>
    </div>
    <div class="words">
        <a href="description.html"><h5>VAGE Diffuser
        </h5></a>
        <h6 class="price">$45.80
        </h6>

      </div>
  </div>

  </section>

</div>


<div id="footer">

<ul>
  <li class="list-title">CUSTOMER SERVICE</li>
  <li class="list-item"><a href="contact.html" class="intextlink">Contact Us</a></li>
  <li class="list-item"><a href="return_policy.html" class="intextlink">Return & Refund Policy</a></li>
  <li class="list-item"><a href="return_policy.html" class="intextlink">Usage Instruction</a></li>

</ul>

<ul>
  <li class="list-title">ABOUT US</li>
  <li class="list-item"><a href="about.html" class="intextlink">Our Company</a></li>
  <li class="list-item"><a href="about.html" class="intextlink">Store Location</a></li>

</ul>

<ul>
  <li class="list-title">SOCIAL MEDIA SITES</li>
  <li class="list-item"><a href="#" class="intextlink">Facebook</a></li>
  <li class="list-item"><a href="#" class="intextlink">Instagram</a></li>
  <li class="list-item"><a href="#" class="intextlink">Pinterest</a></li>
  <li class="list-item"><a href="#" class="intextlink">Twitter</a></li>

</ul>

<div class="email">
<p class="list-title">SIGN UP FOR MORE UPDATES</p>
<form> <input type="text" name="Text Input Field" value="Email Address"> </form>
<a href="#"  class="sub-button">SUBMIT</a>
</div>

</div>

</body>


</html>
