*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.logo{
  margin: 1em 0em;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 1.2px;
  font-size: 20px;
  font-weight:700;
  justify-content: center;


}
.navigation{
    margin: 1em 0em;
    display: flex;

    flex-wrap: wrap;
    justify-content:center;

}

.width-adjust-left{

  margin:0;
  padding:0;
  flex-grow: 1.25;

}
.width-adjust-right{

  margin:0;
  padding:0;
  flex-grow: 1;

}

.nav-button{
  font-weight: 300;
  color:#A5A5A5;
  font-size: 10px;
  letter-spacing: 0.54px;
  text-decoration: none;
  margin: 2px 16px;
  padding-bottom: 6px;
  border-bottom: 1.45px solid #FFF;





}

.nav-button:hover, .nav-button:focus{

  color:#000;
  border-bottom: 1.45px solid #555;




}

.nav-img{



  width:auto;
  height: 15px;
  margin: 2px 0px;
  margin-right: 16px;

}



.banner{
  position: relative;
  width: 100%;
    height: 500px;
}
.bannerimg{
  width: 100%;
  max-width: 1680px;
  margin: auto;
  height: 500px;
  overflow: hidden;
}

.bannerdes{
  position: absolute;
  width: 30%;
  bottom:26%;
  right:10%;
}

.bannerdes h3{
  letter-spacing: 1.75px;
  font-weight: 400;
}

.bannerdes p{
  margin-top: 25px;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 20px;
  color: #8D8D8D;
  margin-bottom: 30px;
}

.viewmore-button{
    padding: 8px 25px;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: none;
    color: #000;

    margin-top: 60px;

    border: solid 1px #000;
    font-size: 8px;

}

.viewmore-button:hover{
   background: #000;
   color: #FFF;
}

.promotion{
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.promotion-line1{
  display: flex;
}
.promotion1{
  flex-grow: 1;
  height: 200px;
  background: #E2E2E2;
  margin: 3px 3px;
}
.promotion2{
  flex-grow: 1.2;
  height: 200px;
  background: #E2E2E2;
  margin: 3px 3px;
}

.promotion-line2{
  display: flex;
}
.promotion3{
  flex-grow: 1.2;
  height: 200px;
  background: #E2E2E2;
  margin: 3px 3px;
}
.promotion4{
  flex-grow: 1;
  height: 200px;
  background: #E2E2E2;
  margin: 3px 3px;
}

.product-container{
  width: 90%;
  margin: auto;
  margin-top: 100px;
}
.product-container h3{
  letter-spacing: 1.2px;
  padding-bottom:10px;
  border-bottom: 1px solid #D6D6D6;
}

.product{
  display: -webkit-flex;
  display: -ms-flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;

}

.productcontainer{
  width:260px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 60px;
  border: 1px solid #8D8D8D;

}

.item{
  width:234px;
  margin: auto;
}

.word{
  width: 300px;
}

.item img{
  width:234px;
  margin: auto;
}

.words h6{
  margin: 0px;
  padding: 0px;
  letter-spacing: 1px;
  font-size:10px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 7px;
}

.product li{
  list-style: none;
}


.descrip{
  color: #000000;
  font-size: 9px;
  text-align: center;
  margin-bottom: 26px;
  font-weight: 200;
  letter-spacing: 1px;

}
.price{

  color:#000000;
  letter-spacing: 3px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
}




#footer{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000;
  padding: 3em 3em 3em 2em;
  margin-top:5em;



}

ul{

  list-style-type: none;
  flex-grow: 1;


}

.list-title{
  color: #FFF;
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  padding: 0em 0.9em 1.5em 0.9em;
}

.list-item{

  margin: 0.8em 0.7em;
}


.email{

  flex-grow: 2;

  border-left: 0.3px solid #FFF;
  padding-left: 3em;
}

.sub-button{

  font-size: 0.7em;
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  background-color: #FFF;
  color: #636363;
  border-radius: 2px;
  margin: 2em 1em;

}

.sub-button:hover,.sub-button:focus{

  box-shadow: 1px 1px 1px #CCC;
  color: #000;

}

input[type=text]{
  margin: 1.5em 1em;
  padding: 0.5em 1em;
  font-size: 0.7em;
  border:0.2em solid #000;
  letter-spacing: 0.1em;



}

input[type=text]:focus{
  outline:none;


}

.intextlink{
  text-decoration: none;
  color:#FFF;
  font-weight: 300;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  padding: 0.3em 0em;
  margin: 3em 0em;
  border-bottom: 0.1em #8D8D8D solid;
}

.intextlink:hover, .intextlink:focus{
  color:#636363;
}
