<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/navfootersearch.css">
  <link rel="stylesheet" href="css/home_main.css">

  <title>CHALEUR</title>
</head>

<body>
  <!-- NAVIGATION STARTS -->
  <div class="nav-header" role="navigation">

    <div class="nav-top">

      <img src="img/search.png"  alt="search" class="nav-img-search search-icon" onclick="openSearch()">
      <a href="home.html" class="logo" >CHALEUR</a>
      <a href="shoppingcart.html" ><img src="img/profile-icon.png" alt="profile" class="nav-img profile" ></a>
      <a href="shoppingcart.html" ><img src="img/shopping_cart.png" alt="shoppingcart" class="nav-img cart"></a>
      <a href="#" class="menu-link" onclick="openNav()"><img src="img/menu.png" alt="menu button" class="menu"></a>

    </div>

    <nav class="navigation-links">

      <p class="width-adjust-left"></p>
      <a href="diffuser_collection.html" class="nav-button" >NEW</a>
      <a href="candle_collection.html" class="nav-button" >FAVOURITES</a>
      <a href="diffuser_collection.html" class="nav-button" >COLLECTIONS</a>
      <a href="candle_collection.html" class="nav-button" >CANDLES</a>
      <a href="diffuser_collection.html" class="nav-button" >DIFFUSERS</a>
      <a href="candle_collection.html" class="nav-button" >ESSENTIAL OIL</a>
      <p class="width-adjust-right"></p>

    </nav>

  </div>

  <!-- NAVIGATION ENDS -->


  <div class="banner">

    <div class="bannerimg">
      <a href="candle_collection.html"><img class="bannerbig" src="img/banner.png" alt="gardenia series banner"></a>
      <a href="candle_collection.html"><img class="bannermiddle" src="img/bannermiddle.png" alt="gardenia series banner"></a>
      <a href="candle_collection.html"><img class="bannersmall" src="img/bannermiddle.png" alt="gardenia series banner"></a>
    </div>

      <div class="bannerdes">
        <h3>Gardenia Series</h3>
        <p>Gardenia flower is known as the everlasting flower: it never fades,
          even after it has been picked. Its organic essential oil is rich in
          molecules offering unique anti-aging beauty results. From the very first applications, skin looks sublime, flawless.</p>
          <div class="viewmore">
            <a href="candle_collection.html"  class="viewmore-button">VIEW SERIES</a>

          </div>
      </div>


  </div>

  <div class="promotion">
    <div class="promotion-line1">
    <div class="promotionimg image1">
      <a href="biblio_candle_product.html"><img src="img/productA.jpg" alt="gypsywater"></a>
    </div>
    <div class="promotiondes des1">
      <a href="biblio_candle_product.html"><h3>Gyspsy Water</h3></a>
      <p>Ultra-fine face mist that provides an instant
        refreshing and hydrating effect at any time of the day.</p>
        <div class="priceandbutton">


        <h4>$ 69.99</h4>
        <div class="addtocart">
          <a href="shoppingcart.html"  class="add-button">ADD TO BAG</a>

        </div>
          </div>
    </div>
    </div>


    <div class="promotion-line2">
      <div class="promotionimg image2front">
        <a href="biblio_candle_product.html"><img src="img/productB.jpg" alt="gypsywater"></a>
      </div>

      <div class="promotiondes des2">
        <a href="biblio_candle_product.html"><h3>Casablanca Lily</h3></a>
        <p>An alluring and endearing fragrance - an encounter between Neroli and Orchid.</p>
          <div class="priceandbutton">


          <h4>$ 69.99</h4>
          <div class="addtocart">
            <a href="shoppingcart.html"  class="add-button">ADD TO BAG</a>

          </div>
            </div>
      </div>

      <div class="promotionimg image2">
        <a href="biblio_candle_product.html"><img src="img/productB.jpg" alt="gypsywater"></a>
      </div>

  </div>
</div>

<div class="middlebanner candle">

  <div class="middlebanner-img">
     <a href="candle_collection.html"><img src="img/middlebanner2.jpg" alt="candleseries"></a>
  </div>

  <div class="middlebanner-des">
    <span class="handmade">HAND MADE</span>
    <h3>Elegant & Tantalizing</h3>
    <p>Radiant neroli from the Mediterranean and the caressing orchid
       from Madagascar come together in a romantic and floral scent to
       create a deliciously tantalizing collection. </p>

     <div class="viewmore">
       <a href="candle_collection.html"  class="viewmore-button">VIEW SERIES</a>

     </div>
  </div>

</div>

<div class="product-container">
  <div class="product-title">


  <h3>CANDLES</h3>
  </div>

  <section class="product">

  <div class="productcontainer candle">
    <div class="item">
        <a href="biblio_candle_product.html"><img src="img/product01.jpg" alt="TREE HOUSE" ></a>
    </div>
    <div class="words">
        <a href="biblio_candle_product.html"><h5>TREE HOUSE
        </h5></a>
        <h6 class="price">$34.99
        </h6>

      </div>

      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>


  </div>

  <div class="productcontainer candle">
    <div class="item">
        <a href="biblio_candle_product.html"><img src="img/product02.jpg" alt="BIBLIOTHEQUE CANDLE" ></a>
    </div>
    <div class="words">
        <a href="biblio_candle_product.html"><h5>BIBLIOTHEQUE CANDLE
        </h5></a>
        <h6 class="price">$34.99
        </h6>

      </div>
      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>

  <div class="productcontainer candle">
    <div class="item">
        <a href="biblio_candle_product.html"><img src="img/product03.jpg" alt="PEYOTE POEM" ></a>
    </div>
    <div class="words">
        <a href="biblio_candle_product.html"><h5>PEYOTE POEM
        </h5></a>
        <h6 class="price">$34.99
        </h6>

      </div>
      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>


  <div class="productcontainer candle">
    <div class="item">
        <a href="candle_collection.html"><img src="img/product04.jpg" alt="COTTOM POPLIN" ></a>
    </div>
    <div class="words">
        <a href="biblio_candle_product.html"><h5>COTTOM POPLIN
        </h5></a>
        <h6 class="price">$59.00
        </h6>

      </div>
      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>

  <div class="productcontainer candle">
    <div class="item">
        <a href="biblio_candle_product.html"><img src="img/product05.jpg" alt="FLEUR FANTOME" ></a>
    </div>
    <div class="words">
      <a href="biblio_candle_product.html">  <h5>FLEUR FANTOME
      </h5></a>
        <h6 class="price">$37.90
        </h6>

      </div>

      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>

  <div class="productcontainer candle">
    <div class="item">
        <a href="biblio_candle_product.html"><img src="img/product06.jpg" alt="BIBLIOTHEQUE" ></a>
    </div>
    <div class="words">
        <a href="biblio_candle_product.html"><h5>BIBLIOTHEQUE
        </h5></a>
        <h6 class="price">$45.80
        </h6>

      </div>

      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>

  </section>

</div>

<div class="middlebanner diffuser">

  <div class="middlebanner-img">
     <a href="diffuser_collection.html"><img src="img/middlebanner3.jpg" alt="diffuserseries"></a>
  </div>

  <div class="middlebanner-des">
    <span class="handmade">HAND MADE</span>
    <h3>Gardenia Series</h3>
    <p>Discover our Reine Blanche Collection with brightening properties to
      reveal luminous skin. Reine des Prés is pure white flower illuminating
      its petals over time.  </p>

     <div class="viewmore">
       <a href="diffuser_collection.html"  class="viewmore-button">VIEW SERIES</a>

     </div>
  </div>

</div>

<div class="product-container">
  <div class="product-title">


  <h3>DIFFUSERS</h3>
  </div>

  <section class="product">

  <div class="productcontainer diffuser">
    <div class="diffuseritem">
        <a href="grapefruit_diffuser.html"><img src="img/product07.jpg" alt="NEST Camille" ></a>
    </div>
    <div class="words">
        <a href="grapefruit_diffuser.html"><h5>NEST Camille
        </h5></a>
        <h6 class="price">$39.99
        </h6>

      </div>

      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>

  <div class="productcontainer diffuser">
    <div class="diffuseritem">
        <a href="grapefruit_diffuser.html"><img src="img/product08.jpg" alt="NEST Rose" ></a>
    </div>
    <div class="words">
        <a href="grapefruit_diffuser.html"><h5>NEST Rose
        </h5></a>
        <h6 class="price">$39.99
        </h6>

      </div>
      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>

  <div class="productcontainer diffuser">
    <div class="diffuseritem">
        <a href="grapefruit_diffuser.html"><img src="img/product09.jpg" alt="NEST Wood" ></a>
    </div>
    <div class="words">
      <a href="grapefruit_diffuser.html">  <h5>NEST Wood
      </h5></a>
        <h6 class="price">$42.99
        </h6>

      </div>
      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>


  <div class="productcontainer diffuser">
    <div class="diffuseritem">
        <a href="grapefruit_diffuser.html"><img src="img/product10.jpg" alt="TEAME Leaves" ></a>
    </div>
    <div class="words">
        <a href="grapefruit_diffuser.html"><h5>TEAME Leaves
        </h5></a>
        <h6 class="price">$59.00
        </h6>

      </div>
      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>

  <div class="productcontainer diffuser">
    <div class="diffuseritem">
        <a href="grapefruit_diffuser.html"><img src="img/product11.jpg" alt="NOIR Avoires" ></a>
    </div>
    <div class="words">
        <a href="grapefruit_diffuser.html"><h5>NOIR Avoires
        </h5></a>
        <h6 class="price">$37.90
        </h6>

      </div>

      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>

  <div class="productcontainer diffuser">
    <div class="diffuseritem">
        <a href="grapefruit_diffuser.html"><img src="img/product12.jpg" alt="VAGE Diffuser" ></a>
    </div>
    <div class="words">
        <a href="grapefruit_diffuser.html"><h5>VAGE Diffuser
        </h5></a>
        <h6 class="price">$45.80
        </h6>

      </div>

      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>

  </div>

  </section>

</div>

<!-- FOOTER STARTS -->
<div id="footer" role="group">

  <ul class="cust-serv" >
    <li class="list-title">CUSTOMER SERVICE</li>
    <li class="list-item" ><a href="contact.html" class="intextlink">Contact Us</a></li>
    <li class="list-item" ><a href="return_policy.html" class="intextlink">Return & Refund Policy</a></li>
    <li class="list-item" ><a href="return_policy.html" class="intextlink">Usage Instruction</a></li>
  </ul>

  <ul class="about-us" >
    <li class="list-title">ABOUT US</li>
    <li class="list-item" ><a href="about.html" class="intextlink">Our Company</a></li>
    <li class="list-item" ><a href="about.html" class="intextlink">Store Location</a></li>
  </ul>

  <ul class="social-media">
    <li class="list-title">PROJECT LINKS</li>
    <li class="list-item" ><a href="styleguide.html" class="intextlink">Style Guide</a></li>
    <li class="list-item" ><a href="citation.html" class="intextlink">Citation</a></li>
    <li class="list-item" ><a href="git_repository.html" class="intextlink">Git Repository</a></li>
  </ul>


  <div class="email">
    <p class="list-title">SIGN UP FOR MORE UPDATES</p>
    <form> <input type="text" name="Text Input Field" value="Email Address" > </form>
    <a href="#"  class="sub-button" role="button">SUBMIT</a>
  </div>

</div>

<!-- FOOTER ENDS -->

<!-- DROPDOWN MENU STARTS -->

<div id="mobile-nav" class="mobile-drop-down-menu" role="menu">
  <a href="#" class="closeBn" onclick="closeNav()">&times;</a>

  <div class="drop-down-menu-category">
    <a href="diffuser_collection.html" >NEW</a>
    <a href="candle_collection.html" >FAVOURITES</a>
    <a href="diffuser_collection.html" >COLLECTIONS</a>
    <a href="candle_collection.html" >CANDLES</a>
    <a href="diffuser_collection.html" >DIFFUSERS</a>
    <a href="candle_collection.html" >ESSENTIAL OIL</a>
  </div>

  <div class="drop-down-menu-footer" >
    <a href="contact.html" >CONTACT</a>
    <a href="return_policy.html" >RETURN POLICY</a>
    <a href="about.html" >ABOUT US</a>
  </div>

</div>

<div id="searchpage" class="search" >
  <a href="#" class="closesch" onclick="closeSearch()">&times;</a>

  <div class="searchcontent">
    <div class="searchtitle">
        <h3>SEARCH</h3>
    </div>

    <div class="drop-search" >
        <input class="searchbar" type="text" name="searchbarline" placeholder="Search"
        >
        <img src="img/searchbig.png" alt="search" class="search-img"
        role="button">
    </div>

    <div class="hotsearch">
        <span onclick="gotocandle()" >candles</span>
        <span onclick="gotocontact()" >contact</span>
        <span onclick="gotoreturn()" >return</span>
    </div>

  </div>
</div>

<script src="js/navigation.js"></script>

<!-- DROPDOWN MENU ENDS -->

</body>


</html>
