<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="main_shipment.css">
<title>IAT 339 P02 template</title>
</head>

<body>

<div class="totalprice">


  <div class="payment-totalprice">
      <h3 class="payment-total">TOTAL</h3>
      <h3 class="payment-totalpricenumber">$101.98</h3>
  </div>

  </div>

  <div class="payment-container">
    <div class="address-container">


    <div class="address-title">
      <h2>Shipping Address</h2>
    </div>

    <div class="addressform">
      <input class="shippingadress first" type="text" name="First Name" placeholder="First Name">
      <input class="shippingadress last" type="text" name="Last Name" placeholder="Last Name">
    </div>
    <div class="addressform">
        <input class="shippingadress phone" type="text" name="phone" placeholder="Phone Number">
    </div>
    <div class="addressform">
        <input class="shippingadress streetnumber" type="text" name="streetnumber" placeholder="Street Number">
        <input class="shippingadress apt" type="text" name="apt" placeholder="Apt., Suite, Bldg.(optional)">
    </div>
    <div class="addressform">
        <input class="shippingadress city" type="text" name="city" placeholder="Town/City">
        <input class="shippingadress province" type="text" name="province" placeholder="Province">
        <input class="shippingadress postalcode" type="text" name="Postalcode" placeholder="Postal Code">
    </div>
    </div>


  <div class="creditcard-container">

    <div class="credit-title">
      <h2>Credit Card Information</h2>
    </div>

    <div class="creditform">
      <input class="credit name" type="text" name="credit Name" placeholder="Card Name">
    </div>

    <div class="creditform">
      <input class="credit number" type="text" name="credit number" placeholder="Card Number">
    </div>

    <div class="addressform">
        <input class="shippingadress city" type="text" name="city" placeholder="Month">
        <input class="shippingadress province" type="text" name="province" placeholder="Year">
        <input class="shippingadress postalcode" type="text" name="Postalcode" placeholder="Security Code">
    </div>

  </div>

  <div class="payconfirm-button">
    <a href="#"  class="confirm-button">Confirm</a>

  </div>
</div>


</body>
</html>
