<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="navfootersearch.css">
<link rel="stylesheet" href="main_shipment.css">
<title>IAT 339 P02 template</title>
</head>

<body>
  <div class="nav-header">
  <a href="home.html" class="logo">CHALEUR</a>
  <nav class="navigation">

<div class="topmenu">



    <a href="#" class="menu-link" onclick="openNav()"><img src="img/menu.png" alt="menu button" class="menu"></a>

    </div>

    <p class="width-adjust-left"></p>
    <a href="diffuser.html" class="nav-button">NEW</a>
    <a href="products.html" class="nav-button">FAVOURITES</a>
    <a href="diffuser.html" class="nav-button">COLLECTIONS</a>
    <a href="products.html" class="nav-button">CANDLES</a>
    <a href="diffuser.html" class="nav-button">DIFFUSERS</a>
    <a href="products.html" class="nav-button">ESSENTIAL OIL</a>

    <p class="width-adjust-right"></p>
    <img src="img/search.png" alt="search" class="nav-img" onclick="openSearch()">
    <a href="shoppingcart.html"><img src="img/shopping_cart.png" alt="shoppingcart" class="nav-img"></a>

  </nav>
  </div>

  <div class="navigationlink">

    <ul>
      <li class="beforenone"><a href="home.html">HOME</a></li>
      <li>></li>
      <li><a href="shoppingcart.html">MY BAG</a></li>
      <li>></li>
      <li><a href="#">PAYMENT</a></li>
    </ul>
  </div>


<div class="totalprice">


  <div class="payment-totalprice">
      <h3 class="payment-total">TOTAL</h3>
      <h3 class="payment-totalpricenumber">$ 101.98</h3>
  </div>

</div>

  <div class="payment-container">
    <div class="address-container">


    <div class="address-title">
      <h2>Shipping Address</h2>
    </div>

    <div class="addressform">
      <input class="shippingadress first" type="text" name="First Name" placeholder="First Name">
      <input class="shippingadress last" type="text" name="Last Name" placeholder="Last Name">
    </div>
    <div class="addressform">
        <input class="shippingadress phone" type="text" name="phone" placeholder="Phone Number">
    </div>
    <div class="addressform">
        <input class="shippingadress streetnumber" type="text" name="streetnumber" placeholder="Street Number">
        <input class="shippingadress apt" type="text" name="apt" placeholder="Apt.(optional)">
    </div>
    <div class="addressform">
        <input class="shippingadress city" type="text" name="city" placeholder="City">
        <input class="shippingadress province" type="text" name="province" placeholder="Province">
        <input class="shippingadress postalcode" type="text" name="Postalcode" placeholder="Postal Code">
    </div>
    </div>


  <div class="creditcard-container">

    <div class="credit-title">
      <h2>Credit Card Information</h2>
    </div>

    <div class="creditform">
      <input class="credit name" type="text" name="credit Name" placeholder="Card Name">
    </div>

    <div class="creditform">
      <input class="credit number" type="text" name="credit number" placeholder="Card Number">
    </div>

    <div class="addressform">
        <input class="shippingadress city" type="text" name="city" placeholder="Month">
        <input class="shippingadress province" type="text" name="province" placeholder="Year">
        <input class="shippingadress postalcode" type="text" name="Postalcode" placeholder="Security Code">
    </div>

  </div>

  <div class="payconfirm-button">
    <a href="finishpay.html"  class="confirm-button">CONFIRM</a>

  </div>
</div>
<div id="footer">

<ul class="cust-serv">
  <li class="list-title">CUSTOMER SERVICE</li>
  <li class="list-item"><a href="contact.html" class="intextlink">Contact Us</a></li>
  <li class="list-item"><a href="return_policy.html" class="intextlink">Return & Refund Policy</a></li>
  <li class="list-item"><a href="return_policy.html" class="intextlink">Usage Instruction</a></li>

</ul>

<ul class="about-us">
  <li class="list-title">ABOUT US</li>
  <li class="list-item"><a href="about.html" class="intextlink">Our Company</a></li>
  <li class="list-item"><a href="about.html" class="intextlink">Store Location</a></li>

</ul>

<ul class="social-media">
  <li class="list-title">SOCIAL MEDIA SITES</li>
  <li class="list-item"><a href="#" class="intextlink">Facebook</a></li>
  <li class="list-item"><a href="#" class="intextlink">Instagram</a></li>
  <li class="list-item"><a href="#" class="intextlink">Pinterest</a></li>
  <li class="list-item"><a href="#" class="intextlink">Twitter</a></li>

</ul>

<div class="email">
<p class="list-title">SIGN UP FOR MORE UPDATES</p>
<form> <input type="text" name="Text Input Field" value="Email Address"> </form>
<a href="#"  class="sub-button">SUBMIT</a>
</div>

</div>

<div id="mobile-nav" class="mobile-drop-down-menu">
  <a href="#" class="closeBn" onclick="closeNav()">&times;</a>
  <div class="drop-down-menu-category">
    <a href="diffuser.html">NEW</a>
    <a href="products.html">FAVOURITES</a>
    <a href="diffuser.html">COLLECTIONS</a>
    <a href="products.html">CANDLES</a>
    <a href="diffuser.html">DIFFUSERS</a>
    <a href="products.html">ESSENTIAL OIL</a>
  </div>

  <div class="drop-down-menu-footer">
    <a href="contact.html">CONTACT</a>
    <a href="return_policy.html">RETURN SERVICES</a>
    <a href="about.html">ABOUT US</a>
  </div>

</div>

<div id="searchpage" class="search">
  <a href="#" class="closesch" onclick="closeSearch()">&times;</a>
  <div class="searchcontent">
  <div class="searchtitle">
    <h3>SEARCH</h3>
 </div>
  <div class="drop-search">
    <input class="searchbar"type="text" name="searchbarline" placeholder="Search">
    <img src="img/searchbig.png" alt="search" class="search-img">
  </div>

  <div class="hotsearch">
    <span onclick="gotocandle()">candles</span>
    <span onclick="gotocontact()">contact</span>
    <span onclick="gotoreturn()">return</span>
  </div>
  </div>
</div>



<script src="navigation.js"></script>

</body>
</html>
