<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="products_main.css">
<title>IAT 339 P02 template</title>
</head>

<body>
  <div class="bannerimg">
    <img src="img/0.png" alt="">
  </div>

  <div class="product-type-container">
    <div class="product-type">
      <a href="#"><img class="product-cat image" src="img/1.png" alt=""></a>
      <p class="product-cat des">Candles</p>
    </div>
    <div class="product-type">
      <a href="#"><img class="product-cat image"src="img/1.png" alt=""></a>
      <p>Diffusers</p>
    </div>
    <div class="product-type">
      <a href="#"><img class="product-cat image" src="img/1.png" alt=""></a>
      <p>Candles</p>
    </div>



  </div>

<div class="filters-container">


  <h3>Filters</h3>

  <div class="filters">
    <div class="filters-flavor">
    <img src="img/arrow.png" alt="">
    <a href="#"><span>Flavor</span></a>
    <div class="filters-drop-down flavor">
      <ul>
        <li><a href="#">Lemon</a></li>
        <li><a href="#">Rose</a></li>
        <li><a href="#">Vanilla</a></li>
        <li><a href="#">Cherry Blossoms</a></li>
      </ul>
    </div>
    </div>

    <div class="filters-function function">
    <img src="img/arrow.png" alt="">
    <a href="#"><span>Function</span></a>
    <div class="filters-drop-down">
      <ul>
        <li><a href="#">Lemon</a></li>
        <li><a href="#">Rose</a></li>
        <li><a href="#">Vanilla</a></li>
        <li><a href="#">Cherry Blossoms</a></li>
      </ul>
    </div>
    </div>


  </div>


  </div>

  <section class="product">

  <div class="productcontainer">
    <div class="item">
        <img src="img/product01.png" alt="" >
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  <div class="productcontainer">
    <div class="item">
        <img src="img/product01.png" alt="" >
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  <div class="productcontainer">
    <div class="item">
        <img src="img/product01.png" alt="" >
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  </section>


</body>
</html>
