<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="products_main.css">
<title>IAT 339 P02 template</title>
</head>

<body>
  <div class="nav-header">
  <p class="logo">CHALEUR</p>
  <nav class="navigation">
    <p class="width-adjust-left"></p>
    <a href="#" class="nav-button">NEW</a>
    <a href="#" class="nav-button">FAVOURITES</a>
    <a href="#" class="nav-button">COLLECTIONS</a>
    <a href="#" class="nav-button">CANDLES</a>
    <a href="#" class="nav-button">DIFFUSERS</a>
    <a href="#" class="nav-button">ESSENTIAL OIL</a>

    <p class="width-adjust-right"></p>
    <img src="img/search.png" alt="search" class="nav-img">
    <img src="img/shopping_cart.png" alt="shoppingcart" class="nav-img">
  </nav>
</div>

  <div class="bannerimg">
    <img src="img/0.png" alt="">
  </div>

  <div class="product-type-container">
    <div class="product-type">
      <a href="#"><img class="product-cat image" src="img/1.png" alt=""></a>
      <p class="product-cat des">Candles</p>
    </div>
    <div class="product-type">
      <a href="#"><img class="product-cat image"src="img/1.png" alt=""></a>
      <p>Diffusers</p>
    </div>
    <div class="product-type">
      <a href="#"><img class="product-cat image" src="img/1.png" alt=""></a>
      <p>Candles</p>
    </div>



  </div>

<div class="filters-container">


  <h3>Filters</h3>

  <div class="filters">
    <div class="filters-flavor">
    <img src="img/arrow.png" alt="">
    <a href="#"><span>Flavor</span></a>
    <div class="filters-drop-down flavor">
      <ul>
        <li><a href="#">Lemon</a></li>
        <li><a href="#">Rose</a></li>
        <li><a href="#">Vanilla</a></li>
        <li><a href="#">Cherry Blossoms</a></li>
      </ul>
    </div>
    </div>

    <div class="filters-function function">
    <img src="img/arrow.png" alt="">
    <a href="#"><span>Function</span></a>
    <div class="filters-drop-down">
      <ul>
        <li><a href="#">Lemon</a></li>
        <li><a href="#">Rose</a></li>
        <li><a href="#">Vanilla</a></li>
        <li><a href="#">Cherry Blossoms</a></li>
      </ul>
    </div>
    </div>


  </div>


  </div>

  <section class="product">

  <div class="productcontainer">
    <div class="item">
        <img src="img/product01.png" alt="" >
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  <div class="productcontainer">
    <div class="item">
        <img src="img/product01.png" alt="" >
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  <div class="productcontainer">
    <div class="item">
        <img src="img/product01.png" alt="" >
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  </section>
  <div id="footer">

  <ul>
    <li class="list-title">CUSTOMER SERVICE</li>
    <li class="list-item"><a href="#" class="intextlink">Contact Us</a></li>
    <li class="list-item"><a href="#" class="intextlink">Return & Refund Policy</a></li>
    <li class="list-item"><a href="#" class="intextlink">Usage Instruction</a></li>

  </ul>

  <ul>
    <li class="list-title">ABOUT US</li>
    <li class="list-item"><a href="#" class="intextlink">Our Company</a></li>
    <li class="list-item"><a href="#" class="intextlink">Store Location</a></li>

  </ul>

  <ul>
    <li class="list-title">SOCIAL MEDIA SITES</li>
    <li class="list-item"><a href="#" class="intextlink">Facebook</a></li>
    <li class="list-item"><a href="#" class="intextlink">Instagram</a></li>
    <li class="list-item"><a href="#" class="intextlink">Pinterest</a></li>
    <li class="list-item"><a href="#" class="intextlink">Twitter</a></li>

  </ul>

  <div class="email">
  <p class="list-title">SIGN UP FOR MORE UPDATES</p>
  <form> <input type="text" name="Text Input Field" value="Email Address"> </form>
  <a href="#"  class="sub-button">SUBMIT</a>
  </div>

  </div>

</body>
</html>
