body{

  font-family: 'Lato', sans-serif;
}
.return-body{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.return-header{
  padding:2em 0em;
  letter-spacing: 0.1em;
  font-size: 1em;
  font-weight: 400;
}
.return-title{

  display: flex;
  justify-content: center;
  letter-spacing: 0.15em;
  font-size: 1.2em;

}
.body-section{

  padding: 1em 2em;
}

.return-text{

  width: 30em;
  letter-spacing: 0.1em;
  font-size: 0.7em;
  font-weight: 300;
  line-height: 1.6em;

  }
