<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="return_policy.css">
<title>IAT 339 P02 Styleguide</title>
</head>
<body>
  <div class="nav-header">
  <a href="home.html" class="logo">CHALEUR</a>
  <nav class="navigation">
    <p class="width-adjust-left"></p>
    <a href="products.html" class="nav-button">NEW</a>
    <a href="products.html" class="nav-button">FAVOURITES</a>
    <a href="products.html" class="nav-button">COLLECTIONS</a>
    <a href="products.html" class="nav-button">CANDLES</a>
    <a href="products.html" class="nav-button">DIFFUSERS</a>
    <a href="products.html" class="nav-button">ESSENTIAL OIL</a>

    <p class="width-adjust-right"></p>
    <img src="img/search.png" alt="search" class="nav-img">
    <img src="img/shopping_cart.png" alt="shoppingcart" class="nav-img">
  </nav>
  </div>
<div class="return-background">
<p class="return-title"> RETURN & REFUND POLICY </p>
<div class="return-body">
<div class="body-section">
<p class="return-header"> How do I return ordered via website?</p>
<p class="return-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Vestibulum et lorem risus. Vivamus eget sem enim. Nullam
    sodales euismod lacus quis tristique. Cras ut ex ligula.
    Nullam quis commodo dui, non volutpat lorem. Curabitur
    pretium tellus in tortor pretium consectetur. Vivamus
    commodo, elit nec luctus vulputate, augue ligula bibendum
    ligula, vitae viverra justo felis eu ipsum. Sed sit amet
    convallis eros. Vestibulum pharetra, massa nec interdum
    accumsan, metus nisi condimentum nibh, eu dictum purus
    justo non orci. Aenean tincidunt porttitor arcu euismod
    convallis. Cras suscipit vel mi vestibulum molestie.
    Suspendisse nisi dui, mattis vel fermentum eget,
    eleifend at dolor. Nunc laoreet erat libero,
    at scelerisque risus faucibus eleifend.
    Fusce et lacinia lorem. Fusce laoreet ultrices rhoncus.
  </p>
</div>
<div class="body-section">
<p class="return-header"> Can I return a product instore?</p>
<p class="return-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Vestibulum et lorem risus. Vivamus eget sem enim. Nullam
    sodales euismod lacus quis tristique. Cras ut ex ligula.
    Nullam quis commodo dui, non volutpat lorem. Curabitur
    pretium tellus in tortor pretium consectetur. Vivamus
    commodo, elit nec luctus vulputate, augue ligula bibendum
    ligula, vitae viverra justo felis eu ipsum. Sed sit amet
    convallis eros. Vestibulum pharetra, massa nec interdum
    accumsan, metus nisi condimentum nibh, eu dictum purus
    justo non orci. Aenean tincidunt porttitor arcu euismod
    convallis. Cras suscipit vel mi vestibulum molestie.
    Suspendisse nisi dui, mattis vel fermentum eget,
    eleifend at dolor. Nunc laoreet erat libero,
    at scelerisque risus faucibus eleifend.
    Fusce et lacinia lorem. Fusce laoreet ultrices rhoncus.
  </p>
</div>
</div>

<div class="return-body">
<div class="body-section">
<p class="return-header">Is there any special condition for refund?</p>
<p class="return-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Vestibulum et lorem risus. Vivamus eget sem enim. Nullam
    sodales euismod lacus quis tristique. Cras ut ex ligula.
    Nullam quis commodo dui, non volutpat lorem. Curabitur
    pretium tellus in tortor pretium consectetur. Vivamus
    commodo, elit nec luctus vulputate, augue ligula bibendum
    ligula, vitae viverra justo felis eu ipsum. Sed sit amet
    convallis eros. Vestibulum pharetra, massa nec interdum
    accumsan, metus nisi condimentum nibh, eu dictum purus
    justo non orci. Aenean tincidunt porttitor arcu euismod
    convallis. Cras suscipit vel mi vestibulum molestie.
    Suspendisse nisi dui, mattis vel fermentum eget,
    eleifend at dolor. Nunc laoreet erat libero,
    at scelerisque risus faucibus eleifend.
    Fusce et lacinia lorem. Fusce laoreet ultrices rhoncus.
  </p>
</div>
<div class="body-section">
<p class="return-header"> When will you receive your refund?</p>
<p class="return-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Vestibulum et lorem risus. Vivamus eget sem enim. Nullam
    sodales euismod lacus quis tristique. Cras ut ex ligula.
    Nullam quis commodo dui, non volutpat lorem. Curabitur
    pretium tellus in tortor pretium consectetur. Vivamus
    commodo, elit nec luctus vulputate, augue ligula bibendum
    ligula, vitae viverra justo felis eu ipsum. Sed sit amet
    convallis eros. Vestibulum pharetra, massa nec interdum
    accumsan, metus nisi condimentum nibh, eu dictum purus
    justo non orci. Aenean tincidunt porttitor arcu euismod
    convallis. Cras suscipit vel mi vestibulum molestie.
    Suspendisse nisi dui, mattis vel fermentum eget,
    eleifend at dolor. Nunc laoreet erat libero,
    at scelerisque risus faucibus eleifend.
    Fusce et lacinia lorem. Fusce laoreet ultrices rhoncus.
  </p>
</div>
</div>

</div>
<div id="footer">

<ul>
  <li class="list-title">CUSTOMER SERVICE</li>
  <li class="list-item"><a href="contact.html" class="intextlink">Contact Us</a></li>
  <li class="list-item"><a href="return_policy.html" class="intextlink">Return & Refund Policy</a></li>
  <li class="list-item"><a href="return_policy.html" class="intextlink">Usage Instruction</a></li>

</ul>

<ul>
  <li class="list-title">ABOUT US</li>
  <li class="list-item"><a href="about.html" class="intextlink">Our Company</a></li>
  <li class="list-item"><a href="about.html" class="intextlink">Store Location</a></li>

</ul>

<ul>
  <li class="list-title">SOCIAL MEDIA SITES</li>
  <li class="list-item"><a href="#" class="intextlink">Facebook</a></li>
  <li class="list-item"><a href="#" class="intextlink">Instagram</a></li>
  <li class="list-item"><a href="#" class="intextlink">Pinterest</a></li>
  <li class="list-item"><a href="#" class="intextlink">Twitter</a></li>

</ul>

<div class="email">
<p class="list-title">SIGN UP FOR MORE UPDATES</p>
<form> <input type="text" name="Text Input Field" value="Email Address"> </form>
<a href="#"  class="sub-button">SUBMIT</a>
</div>

</div>

</body>
</html>
