<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="shoppingcart_main.css">
<title>IAT 339 P02 template</title>
</head>

<body>

<div class="navigationlink">

  <ul>
    <li class="beforenone"><a href="#">Home</a></li>
    <li>></li>
    <li><a href="#">Shoppingcart</a></li>
  </ul>
</div>


<div class="shoppingcart-container">
  <div class="shoppingcart-title">
    <h1>Items in your bag</h1>
  </div>

  <div class="shoppingcart-items">

    <img class="shoppingcart-items-img"src="" alt="">

<div class="shoppingcart-items-word">
    <div class="shoppingcart-items-word1">

        <h6 class="shoppingcart-items-title">Candle</h6>
        <span class="shoppingcart-items-price">$89.99</span>
       <input class="shoppingcart-items-number" type="number" name="itemnumbers" value="1">
       <h6 class="shoppingcart-items-totleprice">$89.99</h6>
     </div>

    <div class="shoppingcart-items-word2">
      <span class="shoppingcart-items-shipping">Shipping in 2 business days</span>
      <a class="shoppingcart-items-remove" href="#">Remove</a>
    </div>



  </div>





  </div>

  <div class="shoppingcart-total">
    <div class="shoppingcart-total-heading">
      <h class="shoppingcart-total-head bag"> Bag Subtotal</h>
      <h class="shoppingcart-total-head ship">Shipment Fee</h>
      <h class="shoppingcart-total-head tax">Estimated Tax</h>
      <h class="shoppingcart-total-head total">Total</h>
    </div>

    <div class="shoppingcart-total-pricing">
      <h class="shoppingcart-total-price bag"> $89.99</h>
      <h class="shoppingcart-total-price ship">$3.00</h>
      <h class="shoppingcart-total-price tax">$8.99</h>
      <h class="shoppingcart-total-price total">$101.98</h>
    </div>
  </div>

  <div class="shoppingcart-checkout">
    <a href="#"  class="checkout-button">Check Out</a>

  </div>

  <div class="recommendation">
    <h2>Recommend</h2>



  </div>
  <section class="product">

  <div class="productcontainer">
    <div class="item">
        <img src="img/product01.png" alt="" >
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  <div class="productcontainer">
    <div class="item">
        <img src="img/product01.png" alt="" >
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  <div class="productcontainer">
    <div class="item">
        <img src="img/product01.png" alt="" >
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE CANDLE
        </h6>
        <p class="price">$34.99
        </p>
        <p class="descrip">Specific scented candle made for home
        </p>
      </div>
  </div>

  </section>



</div>




</body>
</html>
