<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="shoppingcart_main.css">
<title>IAT 339 P02 template</title>
</head>

<body>
  <div class="nav-header">
  <a href="home.html" class="logo">CHALEUR</a>
  <nav class="navigation">
    <a href="#" class="menu-link"><img src="img/menu.png" alt="menu button" class="menu"></a>
    <p class="width-adjust-left"></p>
    <a href="products.html" class="nav-button">NEW</a>
    <a href="products.html" class="nav-button">FAVOURITES</a>
    <a href="products.html" class="nav-button">COLLECTIONS</a>
    <a href="products.html" class="nav-button">CANDLES</a>
    <a href="products.html" class="nav-button">DIFFUSERS</a>
    <a href="products.html" class="nav-button">ESSENTIAL OIL</a>

    <p class="width-adjust-right"></p>
    <img src="img/search.png" alt="search" class="nav-img">
    <img src="img/shopping_cart.png" alt="shoppingcart" class="nav-img">
  </nav>
  </div>


<div class="navigationlink">

  <ul>
    <li class="beforenone"><a href="home.html">HOME</a></li>
    <li>></li>
    <li><a href="shoppingcart.html">MY BAG</a></li>
  </ul>
</div>


<div class="shoppingcart-container">
  <div class="shoppingcart-title">
    <h1>ITEMS IN YOUR BAG</h1>
  </div>

  <div class="shoppingcart-items">

    <img class="shoppingcart-items-img"src="img/product07.jpg" alt="NEST Camille">

<div class="shoppingcart-items-word">
    <div class="shoppingcart-items-word1">

        <h6 class="shoppingcart-items-title">NEST</h6>
        <span class="shoppingcart-items-price">$89.99</span>
       <input class="shoppingcart-items-number" type="number" name="itemnumbers" value="1">
       <h6 class="shoppingcart-items-totleprice">$89.99</h6>
     </div>

    <div class="shoppingcart-items-word2">
      <span class="shoppingcart-items-shipping">Shipping in 2 business days</span>
      <a class="shoppingcart-items-remove" href="#">remove</a>
    </div>
  </div>
  </div>



  <div class="shoppingcart-total">
    <div class="shoppingcart-total-heading">
      <h4 class="shoppingcart-total-head bag"> Bag Subtotal</h4>
      <h4 class="shoppingcart-total-head ship">Shipment Fee</h4>
      <h4 class="shoppingcart-total-head tax">Estimated Tax</h4>
      <h4 class="shoppingcart-total-head total">Total</h4>
    </div>

    <div class="shoppingcart-total-pricing">
      <h4 class="shoppingcart-total-price bag"> $89.99</h4>
      <h4 class="shoppingcart-total-price ship">$3.00</h4>
      <h4 class="shoppingcart-total-price tax">$8.99</h4>
      <h4 class="shoppingcart-total-price total">$101.98</h4>
    </div>
  </div>

  <div class="shoppingcart-checkout">
    <a href="payment.html"  class="checkout-button">CHECK OUT</a>

  </div>

  <div class="recommendation">
    <h2>RECOMMEND</h2>



  </div>
  <section class="product">

  <div class="productcontainer">
    <div class="item">
        <img src="img/product04.jpg" alt="COTTOM POPLIN" >
    </div>
    <div class="words">
        <h6>COTTOM POPLIN
        </h6>
        <p class="price">$34.99
        </p>

      </div>
      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>

  <div class="productcontainer">
    <div class="item">
        <img src="img/product05.jpg" alt="FLEUR FANTOME" >
    </div>
    <div class="words">
        <h6>FLEUR FANTOME
        </h6>
        <p class="price">$34.99
        </p>

      </div>

      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>
  </div>

  <div class="productcontainer">
    <div class="item">
        <img src="img/product06.jpg" alt="BIBLIOTHEQUE" >
    </div>
    <div class="words">
        <h6>BIBLIOTHEQUE
        </h6>
        <p class="price">$34.99
        </p>

      </div>
      <div class="addtocart-products">
        <a href="shoppingcart.html"  class="add-button-productlist">ADD TO BAG</a>

      </div>

  </div>

  </section>



</div>

<div id="footer">

<ul class="cust-serv">
  <li class="list-title">CUSTOMER SERVICE</li>
  <li class="list-item"><a href="contact.html" class="intextlink">Contact Us</a></li>
  <li class="list-item"><a href="return_policy.html" class="intextlink">Return & Refund Policy</a></li>
  <li class="list-item"><a href="return_policy.html" class="intextlink">Usage Instruction</a></li>

</ul>

<ul class="about-us">
  <li class="list-title">ABOUT US</li>
  <li class="list-item"><a href="about.html" class="intextlink">Our Company</a></li>
  <li class="list-item"><a href="about.html" class="intextlink">Store Location</a></li>

</ul>

<ul class="social-media">
  <li class="list-title">SOCIAL MEDIA SITES</li>
  <li class="list-item"><a href="#" class="intextlink">Facebook</a></li>
  <li class="list-item"><a href="#" class="intextlink">Instagram</a></li>
  <li class="list-item"><a href="#" class="intextlink">Pinterest</a></li>
  <li class="list-item"><a href="#" class="intextlink">Twitter</a></li>

</ul>

<div class="email">
<p class="list-title">SIGN UP FOR MORE UPDATES</p>
<form> <input type="text" name="Text Input Field" value="Email Address"> </form>
<a href="#"  class="sub-button">SUBMIT</a>
</div>

</div>



</body>
</html>
