body{

  font-family: 'Lato', sans-serif;
}
.map{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.map-holder{

  width: 80em;
  background-color: #CCC;
  height: 30em;
  padding: 1em;
  margin-bottom: 1.5em;
  letter-spacing: 0.12em;
  font-size: 0.8em;
  font-weight: 300;

}

.body-section{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.loca-section{

margin-right: 5em;


}

.soci-section{
margin-left: 7em;


}

.loca-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.soci-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.loca-title{
  letter-spacing: 0.15em;
  font-size: 1.2em;

}

.soci-title{

  letter-spacing: 0.15em;
  font-size: 1.2em;
}

.loca-text{


  letter-spacing: 0.1em;
  font-size: 0.7em;
  font-weight: 300;


}

.loca-icon{

  background-color: #CCC;
  width: 2em;
  height: 2em;
  padding:0.5em;
  letter-spacing: 0.12em;
  font-size: 0.6em;
  font-weight: 300;
  margin-right: 1em;
}

.soci-icon{

  background-color: #CCC;
  width: 2em;
  height: 2em;
  padding:0.5em;
  letter-spacing: 0.12em;
  font-size: 0.6em;
  font-weight: 300;
  margin-right: 1em;
}

.soci-text{

  text-decoration: none;
  color:#000;
  font-weight: 300;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  border-bottom: 0.1em #8D8D8D solid;

}

.soci-text:hover, .soci-text:focus{
color:#636363;
border: none;

}
