body{

  font-family: 'Lato', sans-serif;
}
.info-section{

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;




}

.review-section{

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  background-color: #f5f0e1;




}

.product-title{

  letter-spacing: 0.15em;
  font-size: 1.2em;

}

.price{
  letter-spacing: 0.15em;
  font-size: 1.4em;
  font-weight: 300;

}

.product-text{

  letter-spacing: 0.12em;
  font-size: 0.8em;
  font-weight: 300;
}

.img-placeholder{
  flex-grow: 4;

  background-color: #CCC;
  height: 35em;
  padding: 1em;
  margin: 1.5em;
  letter-spacing: 0.12em;
  font-size: 0.8em;
  font-weight: 300;

}

.text-section{

  flex-grow: 1;
  margin-left: 2em;


}

.drop-list{
  border-radius: 0;
  margin: 0;
  margin-left: 0.7em;
}

.quantity{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1em;

}

.user-title{
  letter-spacing: 0.12em;
  font-size: 0.8em;
  font-weight: 400;

}

.descrip{
  padding-top: 2em;
  padding-bottom: 2em;
  width: 40em;
  letter-spacing: 0.1em;
  font-size: 0.7em;
  font-weight: 300;
  line-height: 1.6em;
}

.cart-button{
  font-weight: 300;
  font-size: 0.7em;
  padding: 0.8em 1.5em;
  letter-spacing: 0.1em;
  text-decoration: none;
  background-color: #000;
  color: #CCC;
  border-radius: 2px;


}

.cart-button:hover,.cart-button:focus{
  font-weight: 400;
  box-shadow: 1px 1px 1px #CCC;
  color: #FFF;

}
