*{
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
}

.heading1{
  letter-spacing: 1.5px;
}

.heading2{
  letter-spacing: 1.5px;
  color: #8D8D8D;
}

.paragraph{
  width: 40%;
  color: #8D8D8D;
  font-size: 9px;
  line-height: 17px;
  letter-spacing: 1px;
  font-weight: 300;
}

.product{
  display: -webkit-flex;
  display: -ms-flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.intextlink{

  color: #000000;


}

.intextlink a{
  letter-spacing: 2px;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 1.5px #8D8D8D solid;
}

.intextlink a:hover{
  color:#636363;
}
.intextlink a:focus{
  color:#636363;
}

.productcontainer{
  width:260px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #8D8D8D;
}

.item{
  width:234px;
  margin: auto;
}

.word{
  width: 300px;
}

.item img{
  width:234px;
  margin: auto;
}

.words h6{
  letter-spacing: 1px;
  font-size:10px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 7px;
}

.product li{
  list-style: none;
}


.descrip{
  color: #000000;
  font-size: 9px;
  text-align: center;
  margin-bottom: 26px;
  font-weight: 200;
  letter-spacing: 1px;

}
.price{

  color:#000000;
  letter-spacing: 3px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
}

.code{
  width: 80%;
  color:grey;
  font-size: 9px;
  letter-spacing: 1px;
  background: #F4F4F4;
  padding: 5px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
