*{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6{
  font-family: "Times New Roman", Times, serif;
  color: #000;
}

a{
  text-decoration: none;
  white-space: nowrap;
}



.bannerimg{
  width: 100%;
  max-width: 1240px;
  margin: auto;
  height: 25em;
  overflow: hidden;
}

@media (max-width:584px) {
  .bannerimg{
    width: 100%;
    max-width: 1240px;
    margin: auto;
    height: auto;
    overflow: hidden;
  }

}

.bannerimg img{
  width:100%;
  overflow: hidden;
}

.product-type-container{
  width: 390px;
  margin: auto;
  margin-top: 60px;
  display:flex;
  flex-wrap: wrap;

}

.product-type{
  margin-left: 10px;
  margin-right: 20px;
  width: 100px;
  height: 100px;
}
.product-type img{
  width: 100px;
  height: 100px;
  overflow: hidden;;



}

.product-cat.image{
  width: 100px;
  height:100px;
}

.product-type p{
  font-size: .8rem;
  color: #000;
  font-weight: 300;
  text-align: center;
  letter-spacing: .03rem;
}

.product-cat{
  vertical-align: center;
}

.filters-container{

  width: 80%;
  margin: auto;
  margin-top: 100px;

}
.filters-container h3{
  font-weight: 400;
  letter-spacing: 1.2px;
  padding-bottom:10px;
  border-bottom: 1px solid #D6D6D6;

}

.filters{
  display: flex;
  margin-top: 20px;
}

.filters a{
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: .5em;
  /*padding-bottom: .5em;*/

}

.filters-flavor{
  flex-grow: 1;
  position: relative;
}

.filters-function{
  flex-grow: 1;
  margin-left: 2%;
  position: relative;
}

.filters-flavor{
  margin-right: 2%;
}

.filters-drop-down{
  position: absolute;
  width: 70%;

  display: none;
  box-shadow: 2px 5px 15px #D0D0D0;
}

.filters-drop-down li{
  list-style-type: none;
  padding-left: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.filters-drop-down a{
  text-decoration: none;
  color: #8D8D8D;
  font-size: 12px;
  letter-spacing: 2px;

}
.filters-drop-down li:hover{

  background-color: #000;
}
.filters-drop-down li:hover a{
  color: #FFF;
  font-weight: 400;
  cursor: pointer;
}

.filters-drop-down a:hover{
  color: #FFF;
  font-weight: 400;
}

.filters-flavor:hover .flavor{
  display: block;

}

.filters-function:hover .function{
  display: block;

}
.filters-flavor:focus .flavor{
  display: block;

}

.filters-function a:focus .function{
  cursor: pointer;
  display: block;

}
.filters-flavor a:focus .flavor{
  cursor: pointer;
  display: block;

}
.filters-function a:hover{
  cursor: pointer;
}

.filters-flavor a:hover{
  cursor: pointer;
}



.product-container{
  width: 90%;
  margin: auto;
  margin-top: 5.5em;
  justify-content: center;

}

.product-container h3{

  letter-spacing: 1.2px;
  padding-bottom:10px;
  margin: auto;
  text-align: center;
  font-weight: 400;;

}

.product-title{
  width: 80%;
  margin: auto;
    border-bottom: 1px solid #D6D6D6;
}

.product{
  display: -webkit-flex;
  display: -ms-flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 2rem;

}

.productcontainer.candle{
  width:260px;
  margin-right: .8em;
  margin-left: .8em;
 position: relative;
 margin-top: 4em;
 margin-bottom: 4em;



}
.productcontainer.diffuser{
  width: 230px;
  margin-right: 3em;
  margin-left: 3em;
  margin-top: 4em;
  margin-bottom: 40px;


}

.item{
  width:200px;
  margin: auto;
  /*margin-top: 3em;*/


}

.word{
  width: 300px;
}

.item img{
  width:200px;
  margin: auto;

}

.diffuseritem{
  width: 200px;
  margin: auto;
    margin-bottom: 40px;
}

.diffuseritem img{
  height: 150px;
  margin: auto;
}


.words h5{
  margin: 0px;
  padding: 0px;
  letter-spacing: 1px;
  font-size:0.9rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 7px;
}

.words h6{
  font-size:1rem;
}

.product li{
  list-style: none;
}


.descrip{
  color: #8D8D8D;
  font-size: .8rem;
  text-align: center;
  margin-top: .8em;
  margin-bottom: 1em;
  font-weight: 300;
  letter-spacing: 1px;

}
.price{

  color:#000000;
  letter-spacing: 3px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
}

.addtocart-products{
  /*position: absolute;*/

  /*left: 5%;
  right: 5%;*/


  text-align: center;
  margin-top: 1em;

}
.add-button-productlist{

  padding: 5px 10px;
   font-size: 0.5rem;
   letter-spacing: 0.06rem;
   text-decoration: none;
   background-color: #FFF;
   color: #000;
   border: solid 1px #000;
   /*display: none;*/

}
.add-button-productlist:hover {
  background-color: #000;
  color: #FFF;
}
