*{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Times New Roman", Times, serif;
}

.successful{
  width: 80%;
  margin: auto;
  margin-top: 3.125em;
}

.successful h2{
  letter-spacing: 0.0625em;
}

.successful p{
  color: #8d8d8d;
  font-size: 0.8125rem;
  margin-top: 1.25em;
  letter-spacing: 0.0625em;
}
.backtohome{
  margin-top: 3.75em;
}
.backtohome-button{
    padding: 0.5rem 1.5625em;
    font-size: 0.7rem;
    letter-spacing: 0.0625em;
    text-decoration: none;
    background-color: #FFF;
    color: #000;
    margin-top: 1.25em;
    border: solid 0.0625em #000;

}

.backtohome-button:hover{
   background: #000;
   color: #FFF;
}
.recommendation{

  width: 80%;
  margin: auto;
  margin-bottom: 2.5em;
  margin-top: 10em;
  letter-spacing: 0.0625em;
  padding-bottom:0.625em;
  border-bottom: 0.0625em solid #D6D6D6;

}
.addtocart-products{
  position: absolute;

  left: 5%;
  right: 5%;


  text-align: center;
  margin-top: 1em;

}
.add-button-productlist{

  padding: 0.3125em 0.625em;
   font-size: 0.5rem;
   letter-spacing: 0.06rem;
   text-decoration: none;
   background-color: #FFF;
   color: #000;
   border: solid 0.0625em #000;


}

.add-button-productlist:hover {

  background-color: #000;
  color: #FFF;
}

.recommendation h2{
  font-size: 1.2rem;
  font-weight: 400;
}

.product{
  display: -webkit-flex;
  display: -ms-flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;

}

.productcontainer{
  width:260px;
margin:2em .8em 3em .8em;
  position: relative;
  margin-top: 4em;

}

.item{
  width:12.5em;
  margin: auto;
}

.word{
  width: 18.75em;
}

.item img{
  width:12.5em;
  margin: auto;
}

.words h5{
  margin: 0em;
  padding: 0em;
  letter-spacing: 0.0625em;
  font-size:0.9rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.4375em;
}

.product li{
  list-style: none;
}


.descrip{
  color: #000000;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 1.625em;
  font-weight: 300;
  letter-spacing: 0.0625em;

}
.price{

  color:#000000;
  letter-spacing: .15rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.5rem;
}
