*{
  font-family: 'Times','Lato', sans-serif;
  margin: 0;
  padding: 0;
}






.map-img{

  width:100%;
  height: auto;

}

.body-section{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.loca-section{

margin: 2em 2em;

}

.soci-section{

margin: 2em 2em;

}

.loca-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding:0.5em 0em;

}

.soci-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding:0.5em 0em;


}

.icon-class{

  margin-right: 1em;
  width:1.2em;
}

.loca-title{
  letter-spacing: 0.08em;
  font-size: 1em;
  margin-bottom: 1em;

}

.soci-title{

  letter-spacing: 0.08em;
  font-size: 1em;
  margin-bottom: 1em;
}

.loca-text{


  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-weight: 300;


}



.soci-text{

  text-decoration: none;
  color:#000;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  border-bottom: 0.1em #8D8D8D solid;

}

.soci-text:hover, .soci-text:focus{
color:#636363;
border: none;

}
