a{
  color: #000;
  text-decoration: none;
    white-space: nowrap;
}
/*NAVIGATION*/

/*NAVIGATION*/

.nav-top{

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top:1em;

}

.logo{
  font-family:'Times';
  text-decoration: none;
  color:#000;
  letter-spacing: 1.2px;
  font-size: 20px;
  font-weight:400;

  flex-grow: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.search-icon{

  flex-grow: 1;
  margin-left: 1em;
}

.profile{

  flex-grow:1;
}

.cart{

  flex-grow:1;
}
.navigation-links{
    margin: 1em 0em;
    display: flex;

    flex-wrap: wrap;
    justify-content:center;

}



.width-adjust-left{

  margin:0;
  padding:0;
  flex-grow: 1.05;

}
.width-adjust-right{

  margin:0;
  padding:0;
  flex-grow: 1;

}

.nav-button{

  font-family: 'Lato';
  font-weight: 300;
  color:#A5A5A5;
  font-size: 0.625rem;
  letter-spacing: 0.06em;
  text-decoration: none;
  margin: 0.2em 1.2em;
  padding-bottom: 0.375em;
  border-bottom: 0.09em solid #FFF;

}

.nav-button:hover, .nav-button:focus{

  color:#000;
  border-bottom: 0.09em solid #555;




}

.nav-img{



  width:auto;
  height: 15px;
  margin: 2px 0px;
  margin-right: 1em;



}
.nav-img-search{



  width:auto;
  height: 0.9375em;
  margin: 0.126em;
  margin-right: 1em;
  margin-left: 1em;



}


.menu{
  margin-left: 1em;
  display: none;
  width:auto;
  height:12px;

}

@media (max-width:34.5em){

/*NAVIGATION*/

.menu{

  display: flex;
  flex-wrap: wrap;
  margin-right:1em;


}

.nav-button{

  display: none;

}

.nav-img, .nav-img-search{

  display: none;
}

.logo{

  justify-content: flex-start;
  margin-left: 1em;
}

/*NAVIGATION HIERARCHY*/

.navigation-hierarchy{

  display:none;
}



}



.nav-img:hover{
  cursor: pointer;
}

/*NAVIGATION ENDS*/

/*DROPDOWN MENU*/


.closeBn{
  margin-left: 10%;
  margin-top: 1em;
  font-size: 2rem;
}
.mobile-drop-down-menu, .search{
  position: fixed;
  width: 100%;
  height: 0%;
  background-color: #fff;
  overflow-x: hidden;
  top: 0;
  left: 0;
}
.mobile-drop-down-menu{
    transition: all 0.5s;
}


.drop-down-menu-category{
  padding-left: 20%;
  padding-top: 2em;
}
.drop-down-menu-footer{
  padding-left: 20%;
  margin-bottom: 0%;
}


.mobile-drop-down-menu a{
  padding: .7em 0em .7em 0em;
  color: #000;
  display: block;
  transition: all 1s;
}

.drop-down-menu-category a{
  width: 100px;
  font-size: .9rem;
  letter-spacing: 0.15rem;
}

.drop-down-menu-category a:hover{
  color: #8D8D8D;
  cursor: pointer;
}

.drop-down-menu-footer a:hover{
  color: #8D8D8D;
  cursor: pointer;
}

.drop-down-menu-footer{
  margin-top: 7em;

}

.drop-down-menu-footer a{
  padding: .6em 0em .6em 0em;
  font-size: .8rem;
  letter-spacing: 0.1rem;
  display: block;
}

/*NAVIGATION LINK*/

.navigation-hierarchy{
  margin-left: 2.8em;
  margin-top: 1em;
  margin-bottom: 3em;
  display: block;
}
.navigation-hierarchy ul{
display: flex;
list-style: none;


}

.navigation-hierarchy li{

  display: inline-block;
  list-style: none;
  color: #8d8d8d;
  padding:0em 0.5em;
  font-size: 0.7rem;

}

.navigation-hierarchy li a{

  font-family:  'Lato';
  text-decoration: none;
  color: #8d8d8d;
  font-size: 0.7rem;
  letter-spacing: 0.08em;
}

.navigation-hierarchy li a:hover,.navigation-hierarchy li a:focus,.navigation-hierarchy li a:active{

  color:#000;
}


.before none{
  list-style-type: none;
}
/*NAVIGATION LINK ENDS*/

/*//////////searchpage///////////*/
.search{
  width: 100%;
  margin: auto;
}
.searchcontent{
  width: 70%;
  margin: auto;
}
.drop-search{

  width: 100%;
  margin: auto;
  margin-top: 5em;
}
.searchbar{
  width: 90%;
  margin: auto;
  border:none;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  margin-right: 0.5em;
  margin-top:1em;
  border-bottom: 1px solid #000;

}
.searchtitle{
  justify-content: center;
  width: 80%;
  margin: auto;
}
.searchtitle h3{
  text-align: center;
  font-weight: 400;
  letter-spacing: .5rem;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 1em;

}
.drop-search img{
  width: 5%;
  height: auto;

}
.search-img:hover{
  cursor: pointer;
}
.hotsearch{
  margin-top: 2em;
}
.hotsearch span{
  font-size: .8rem;
  color: #8D8D8D;
  margin-right: 0.4em;
  margin-bottom: 1em;
  letter-spacing: .08rem;
  padding: 3px 8px;
  border: 1px #8D8D8D solid;
}
.hotsearch span:hover{
  color: #000;
  border: 1px #000 solid;
  background-color:#F7F7F7;
  cursor: pointer;
}
.closesch{
  font-size: 2rem;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 20%;
}
.closesch:hover{
  cursor: pointer;
}




/*///////////searchpage end////////*/




/*FOOTER*/

#footer{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000;
  padding: 3em 3em 3em 2em;
  margin-top:5em;



}



#footer ul{

  list-style-type: none;
  flex-grow: 1;


}

.list-title{
  font-family: 'Lato';
  color: #FFF;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  padding: 0em 0.9em 1.5em 0.9em;
}

.list-item{

  margin: 0.8em 0.7em;
}


.email{

  flex-grow: 2;

  border-left: 0.3px solid #FFF;
  padding-left: 3em;
}

.sub-button{
  font-family: 'Lato';
  font-size: 0.7em;
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  background-color: #FFF;
  color: #636363;
  border-radius: 2px;
  margin: 2em 1em;

}

.sub-button:hover,.sub-button:focus{

  box-shadow: 1px 1px 1px #CCC;
  color: #000;

}

.email input[type=text]{
  margin: 1.5em 1em;
  padding: 0.5em 1em;
  font-size: 0.7em;
  border:0.2em solid #000;
  letter-spacing: 0.1em;



}

.email input[type=text]:focus{
  outline:none;


}

#footer .intextlink{
  font-family: 'Lato';
  text-decoration: none;
  color:#FFF;
  font-weight: 300;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  padding: 0.3em 0em;
  margin: 3em 0em;
  border-bottom: 0.1em #8D8D8D solid;
}

#footer .intextlink:hover, .intextlink:focus{
  color:#636363;
}

@media (max-width:50.1em){

  .email{
    border-left:none;
    margin:0;
    padding:0;


  }
}

@media (max-width:32.6em){

  .email{

    margin-top:2em;

  }

  .social-media{

    margin-top:2em;
  }

}

@media (max-width:22em){

  .about-us,.cust-serv{

    margin-top:2em;

  }
}

/*FOOTER ENDS*/
