*{
  font-family:'Times', 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}




.banner-img img{

width: 100%;

}

.feature-body{

  -ms-display: flex;
  -webkit-display: flex;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap: wrap;


}

.feature-body img{

  margin-top: 2em;
  padding: .5em;

}



.text-section{

  -ms-display: flex;
  -webkit-display: flex;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap: wrap;

  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;





}

.about-section{

    margin: 3em 0em;
}

.about-title{

  letter-spacing: 0.15em;
  font-size: 1.2em;
}

.descrip{
  padding-top: 2em;
  padding-bottom: 2em;
  width: 40em;
  letter-spacing: 0.1em;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.6em;
  text-align: center;
}



.feature-title{
  margin-top:2em;
  letter-spacing: 0.15em;
  font-size: 1.2em;
  -ms-display: flex;
  -webkit-display: flex;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap: wrap;

  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;


}

.feature-body{

  -ms-display: flex;
  -webkit-display: flex;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap: wrap;

  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;


}

.product-content{


}



.feature-descrip{
  padding: 2em 5em;
  width: 30em;
  letter-spacing: 0.1em;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.6em;
  text-align: center;
}

@media (max-width:33em){

  .feature-body img{

    width:100%;
    margin-top: .5em;
  }
}

@media (max-width: 29.3em){

  .text-section{
    margin:0em 1em;

  }
}
