*{
  font-family: 'Times','Lato',sans-serif;
  margin: 0;
  padding: 0;
}







.info-section{

  -ms-display: flex;
  -webkit-display: flex;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap: wrap;

  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;

  align-items: center;

}

.product-description{
  background-color: #F7F7F6;

  -ms-display: flex;
  -webkit-display: flex;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap: wrap;

  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;

  align-items: center;

}

#descrip-list ul{

  list-style-type: disc;

}

#descrip-list li{
  margin: 0em 1.4em;
  padding: 0.3em 0.3em;
  font-family: 'Lato';
  letter-spacing: 0.1em;
  font-size: 0.7em;
  font-weight: 300;


}

.collection-title{
  font-family: 'Lato';
  font-weight: 300;
  margin-bottom: 0.5em;
  letter-spacing: 0.1em;
  color:#AAA;
  font-size: 0.6em;

}

.product-title{

  margin-bottom:0.5em;
  letter-spacing: 0.08em;
  font-size: 1.4em;

}

.section-title{

  font-size: 1.2em;
  letter-spacing: 0.07em;

}

.price{
  color:#333;
  margin-bottom: 2em;
  letter-spacing: 0.1em;
  font-size: 1.4em;
  font-weight: 300;

}

.product-text{
  font-family: 'Lato';
  margin: 1em 0em;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-weight: 300;
}

.img-placeholder{

  height: auto;
  width:35%;


}
.width-adjust-image{
  flex-grow: 1;
}

.text-section{
  margin: 1em 0em;

  margin-left: 2em;
  flex-grow: 2;


}

.text-descrip-section{

  margin-left: 5em;


}



.deatil-image{

  width:45%;


}

.banner-image{

  display: none;
}

.drop-list{
  border-radius: 0;
  margin: 1em 0em;
  margin-left: 0.7em;
}

.quantity{

  -ms-display: flex;
  -webkit-display: flex;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap: wrap;


  margin: 1em 0em;
  margin-bottom: 1em;

}

.user-title{
  margin: 1em 0em;
  letter-spacing: 0.12em;
  font-size: 0.8em;
  font-weight: 400;

}

.product-descrip{
font-family: 'Lato';
padding-top: 2em;
padding-bottom: 2em;
width: 40em;
letter-spacing: 0.1em;
font-size: 0.7em;
font-weight: 400;
line-height: 1.6em;



}

.descrip{
  font-family: 'Lato';
  margin: 1em 0em;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 40em;
  letter-spacing: 0.1em;
  font-size: 0.7em;
  font-weight: 400;
  line-height: 1.6em;
}

.cart-button{
  font-family: 'Lato';
  margin: 1em 0em;
  font-weight: 300;
  font-size: 0.7em;
  padding: 0.8em 1.5em;
  letter-spacing: 0.1em;
  text-decoration: none;
  border: 1px solid #000;
  color: #000;
  border-radius: 2px;
  transition: background-color 0.2s ease-out;


}

.cart-button:hover,.cart-button:focus{
  font-weight: 400;
  background-color: #000;
  color: #FFF;

}

/* Review SECTION*/



.review-title h2{

  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0.1em;


}

.review-title{
  margin-top: 4em;

  -ms-display: flex;
  -webkit-display: flex;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap: wrap;

  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;

}

.viewmorelink{

  color:#777;
  font-weight: lighter;
  font-size: 0.8em;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 2em;

}

.viewmorelink:hover, .viewmorelink:focus, .viewmorelink:active{

  color:#000;

}

.profile-row{

  display:flex;
  flex-wrap: wrap;
  align-items: center;




}
.review-row{

  -ms-display: flex;
  -webkit-display: flex;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap: wrap;

  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;



}

.user-comment{

  margin-left: 4em;
  margin-top: 6em;
}

.user-info{

  margin-left: 1em;

}

.user-name{

  font-size: 0.9rem;
  letter-spacing: 0.08em;
  margin-bottom: 0.9em;

}

.post-hour{
  font-family: 'Lato';
  font-weight: 300;
  font-size: 0.6rem;
  letter-spacing: 0.06em;
  color:#AAA;

}

.review-rate{
  margin-top: 0.4em;
  font-size: 0.8rem;
}

/*RECOMMENDATION STARTS*/


.recommendation{
  width:80%;
  margin:auto;
  margin-bottom: 40px;
  margin-top: 10em;
  letter-spacing: 1px;
  padding-bottom:10px;
  border-bottom: 1px solid #D6D6D6;

}
.addtocart-products{
  position: absolute;

  left: 5%;
  right: 5%;


  text-align: center;
  margin-top: 1em;

}
.add-button-productlist{
  font-family: 'Lato';
  padding: 5px 10px;
   font-size: 0.7rem;
   letter-spacing: 0.06rem;
   text-decoration: none;
   background-color: transparent;
   color: #000;
   border: solid 1px #000;


}

.add-button-productlist:hover {

  background-color: #000;
  color: #FFF;
}

.recommendation h2{
  font-size: 1.2rem;
  font-weight: 400;
}

.product{

  -ms-display: flex;
  -webkit-display: flex;
  display: flex;

  -ms-flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
  flex-wrap: wrap;

  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;


  margin: auto;

}

.productcontainer{
  width:260px;

  position: relative;

  margin:2em .8em 3em .8em;
  /*border: 1px solid #D9D9D9;*/
}

.item{
  width:200px;
  margin: auto;
}

.word{
  width: 300px;
}

.item img{
  width:200px;
  margin: auto;
}

.words h6{
  margin: 0px;
  padding: 0px;
  letter-spacing: 1px;
  font-size:0.9rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 7px;
}

.product li{
  list-style: none;
}


.recommend-price{

  color:#000000;
  letter-spacing: 3px;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
}


/*RECOMMENDATION ENDS*/



/*RESPONSIVE STARTS*/


@media (max-width:40em){



  .img-placeholder{

    width:75%;


  }
  .info-section{

    margin-bottom: 3em;
  }

  .descrip{

    width:auto;

  }

  .product-descrip{

    margin:0em 2em;
  }


}


@media (max-width:44.2em){



  .user-comment{
    margin-left: 0em;
    margin: 3em 2em;

  }


  .img-placeholder{



    max-height: 30em;


  }

  .text-section{

    flex-grow: 0;


  }



.width-adjust-image{

  flex-grow: 0;
}

.review-row{

  padding-bottom: 3em;
}

}



@media (max-width:67em) {

  .product-description{

    display: block;

  }


  .text-descrip-section{

    margin-left: 0;
    padding:2em 0em;

    flex-grow: 0;

  }

  .section-title{

    display:flex;
    flex-wrap: wrap;
    justify-content: center;


  }

.product-descrip{

  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width:auto;
  text-align: center;
  padding:0em;
  margin:3em 5em;

}



.deatil-image{

display: none;


}

.banner-image{

  display:inline;
  width: 100%;




}
#descrip-list{

  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 3em;

}








}
